@model NewsSite.Models.MyViewModel
@{
    ViewBag.Title = "Login-formularen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container p-5 bg-light text-center mt-5">
    <h2>Login</h2>

    <form action="~/Login/" method="post" class="border px-5 py-3">
        <span>@ViewBag.Besked</span>
        <div>
            @* Brugernavn-inputfelt *@
            <label for="BrugerNavn">Bruger Navn</label> <br />
            <input type="text" name="BrugerNavn" value="" id="BrugerNavn" class="form-control" />
        </div>
        <div>
            @* Kodeord-inputfelt *@
            <label for="Kodeord">Password</label> <br />
            <input type="Password" name="Kodeord" value="" id="Kodeord" class="form-control" />
        </div>

        @* Send-knap *@
        <input type="submit" value="Login" class="my-4" /> 
        <div>
            <a class="btn bg-info text-white my-3" href="/NyhederAdmin/Index">Fortryd og gå til forsiden</a>
            <a class="btn bg-info text-white my-3" href="/Login/Create">Opret Bruger</a>
        </div>
    </form>


    @* Her kan man skrive sit navn og få returneret hvornår man er født osv *@
    <div class="row">
        @Html.Action("YourName", "Login")
    </div>
</div>

