
@{
    ViewBag.Title = "Index";
}
<div class="container">
    <h2>JavaScript INDEX</h2>
    <a href="/JavaScript/Opg01">/JavaScript/Opg01</a>
    <a href="/JavaScript/Opg02">/JavaScript/Opg02</a>
    <a href="/JavaScript/Opg03">/JavaScript/Opg03</a>
    <a href="/JavaScript/Opg04">/JavaScript/Opg04</a>
    <a href="/JavaScript/Opg05">/JavaScript/Opg05</a>
    <a href="/JavaScript/Opg06">/JavaScript/Opg06</a>
    <a href="/JavaScript/Opg07">/JavaScript/Opg07</a>
    <a href="/JavaScript/Opg08">/JavaScript/Opg08</a>
    <a href="/JavaScript/Opg09">/JavaScript/Opg09</a>
    <a href="/JavaScript/Opg10">/JavaScript/Opg10</a>
    <a href="/JavaScript/Opg11">/JavaScript/Opg11</a>
    <a href="/JavaScript/Opg12">/JavaScript/Opg12</a>
    <a href="/JavaScript/Opg13">/JavaScript/Opg13</a>
    <a href="/JavaScript/Opg14">/JavaScript/Opg14</a>
    <a href="/JavaScript/Opg15">/JavaScript/Opg15</a>
    <a href="/JavaScript/Opg16">/JavaScript/Opg16</a>
    <a href="/JavaScript/Opg17">/JavaScript/Opg17</a>
</div>

