
@{
    ViewBag.Title = "Index";
}
<div class="container">
    <h2>JavaScript INDEX</h2>
    <a href="/JavaScript/Opg01.cshtml">/JavaScript/Opg01.cshtml</a>
    <a href="/JavaScript/Opg02.cshtml">/JavaScript/Opg02.cshtml</a>
    <a href="/JavaScript/Opg03.cshtml">/JavaScript/Opg03.cshtml</a>
    <a href="/JavaScript/Opg04.cshtml">/JavaScript/Opg04.cshtml</a>
    <a href="/JavaScript/Opg05.cshtml">/JavaScript/Opg05.cshtml</a>
    <a href="/JavaScript/Opg06.cshtml">/JavaScript/Opg06.cshtml</a>
    <a href="/JavaScript/Opg07.cshtml">/JavaScript/Opg07.cshtml</a>
    <a href="/JavaScript/Opg08.cshtml">/JavaScript/Opg08.cshtml</a>
    <a href="/JavaScript/Opg09.cshtml">/JavaScript/Opg09.cshtml</a>
    <a href="/JavaScript/Opg10.cshtml">/JavaScript/Opg10.cshtml</a>
    <a href="/JavaScript/Opg11.cshtml">/JavaScript/Opg11.cshtml</a>
    <a href="/JavaScript/Opg12.cshtml">/JavaScript/Opg12.cshtml</a>
    <a href="/JavaScript/Opg13.cshtml">/JavaScript/Opg13.cshtml</a>
    <a href="/JavaScript/Opg14.cshtml">/JavaScript/Opg14.cshtml</a>
    <a href="/JavaScript/Opg15.cshtml">/JavaScript/Opg15.cshtml</a>
    <a href="/JavaScript/Opg16.cshtml">/JavaScript/Opg16.cshtml</a>
    <a href="/JavaScript/Opg17.cshtml">/JavaScript/Opg17.cshtml</a>
</div>

