
@{
    ViewBag.Title = "Cookies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cookies</h2>

<p>Indholdet af cookien er @Request.Cookies["BrugerOplysninger"].Values.ToString()</p>


<h3>Vores Databehandlingspolitik</h3>

<p>
    <ul>
        <li>
            On every incoming request, we will check for the presence of a cookie named BrugerOplysninger
        </li>
        <li>
            If the cookie is not found, we check for presence of the Do Not Track header
        </li>
        <li>
            If the user sends a Do Not Track setting in the request headers, we respect it silently and don’t ask for consent and don’t set the ConsentCookie
        </li>
        <li>
            If Do Not Track is not set, we’ll set a session cookie CookieConsent=asked and show the consent buttons
        </li>
        <li>
            We will handle the user response to the cookie consent message accordingly. If the user allows or denies consent, we will set the ConsentCookie value to true or false, with an expiration of 1 year
        </li>
        <li>
            If we do not get an explicit response to the cookie consent message, on the next incoming requests, we’ll check for this cookie:
        </li>
        <li>
            If the value is “asked”, we set it to “true” in the next response, interpreting this as implicit consent
        </li>
        <li>
            If the value is any other value, we’ll leave it unchanged and assume no consent
        </li>
        <li>
            To the application, we’ll make available a static utility function indicating the CookieConsent value so the Views can easily decide whether to include impacted functionality
        </li>

    </ul>
</p>
