@{
    ViewBag.Title = "Cookies";
    //Denne side skal ikke have layout fordi det er en popup
    Layout = null;

    string VisCookieBoks;

    if (Request.Cookies["borger"] != null)
    {
        VisCookieBoks = "Display:none";
    }
    else
    {
        VisCookieBoks = "Display:block";
    }
}

<div class="cookie-alert" style=@VisCookieBoks>
    @* OPRET COOKIE *@
    <form action="/Home/LavCookie" method="post">
        @* Denne boks dukker op og forsvinder med httppost fra controlleren *@

        <input type="submit" class="cookie-button" name="btnCookie" value="Acceptér Cookie" />
        <h4>Cookies</h4>
        <p>Dette website opsamler data om dit besøg. Ved at bruge siden accepterer du denne brug.</p>

    </form>
    @* FJERN COOKIE *@
    <form action="/Home/FjernCookie" method="post">
        <input type="submit" class="cookie-button" name="btnCookie" value="Slet Cookie" />
    </form>
</div>



