@model List<ASP_MVC_Skabelon.Models.LoginTable>

@{
    ViewBag.Title = "Index";
}

<h2>Bruger forsiden</h2>

<h2>Opret Bruger:</h2>
<a href="/Login/Opret">Opret en ny bruger</a>


<h2>Login:</h2>
<p>Indtast Brugernavn og password.....</p>
<h4 class="text-danger">@ViewBag.Besked</h4>

<form action="/Login/Index" method="post">
    @*brugerNavn*@
    <div class=" form-group m-5">
        <label class="col-4" for="username">Brugernavn:</label>
        <input class="col-5 " type="text" name="username" id="username"  />
    </div>



    @*Password*@
    <div class="row">
        <label class="col-4" for="password">Kodeord:</label>
        <input class="col-5 " type="password" name="password" id="password"  />

    </div>
    <button class="btn btn-info" type="submit">Log ind</button>

</form>

@* Oprettede brugere/medlemmer *@
<table class="table">
    <tr>
        <th>Brugernavn        </th>
        <th>kodeord        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.username
            </td>
            <td>
                @item.password
            </td>
            <td>
                <a href="/Login/Ret/?id=@item.ID">Ret</a>
                <a href="/Login/Vis/?id=@item.ID">Detalje</a>
                <a href="/Login/Slet/?id=@item.ID">Slet</a>
            </td>
        </tr>
    }

</table>
