@model CartoonSite.Models.TegnefilmsfigurTabel
@{
    ViewBag.Title = "CartoonInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a href="/Home/Index">Tilbage til forsiden</a>
<div class="container" id="info">
    <h3>@Model.TegnefilmfigurNavn (@Model.TegnefilmfigurFoedt)</h3>
    <p>@Model.TegnefilmfigurBeskrivelse</p>
    <img src="~/Content/Img/@Model.TegnefilmfigurBillede" alt="Foto af @Model.TegnefilmfigurNavn" />

    
</div>
