@model List<CartoonSite.Models.TegnefilmsfigurTabel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>Cartoon List </h2>
    @foreach (var Item in Model)
    {
    <div id="overskrift">
        <h3><a href="/Home/CartoonInfo/@Item.TegnefilmsfigurID">@Item.TegnefilmfigurNavn</a></h3>
        <img class="" src="~/Content/Img/@Item.TegnefilmfigurBillede" alt="Foto af @Item.TegnefilmfigurNavn" />
    </div>
    }
</div>