@model LP_Butik_MVC_Repetetion.Logins

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <form action="/" method="post">
            <input type="text" name="BrugerNavn" placeholder="skriv brugernavn..." value="" />
            <input type="password" name="Kodeord" placeholder="skriv kodeord..." value="" />
            <input type="submit" name="BtnSubmit" value="Login" />
        </form>

    </div>
</body>
</html>
