<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT sEO ANY>
<!ATTLIST sEO id ID #REQUIRED>
<!ELEMENT socialMedier ANY>
<!ATTLIST socialMedier id ID #REQUIRED>
<!ELEMENT searchpage ANY>
<!ATTLIST searchpage id ID #REQUIRED>
<!ELEMENT kontakt ANY>
<!ATTLIST kontakt id ID #REQUIRED>
<!ELEMENT slideshow ANY>
<!ATTLIST slideshow id ID #REQUIRED>
<!ELEMENT besked ANY>
<!ATTLIST besked id ID #REQUIRED>
<!ELEMENT overkategorier ANY>
<!ATTLIST overkategorier id ID #REQUIRED>
<!ELEMENT kategori ANY>
<!ATTLIST kategori id ID #REQUIRED>
<!ELEMENT produkt ANY>
<!ATTLIST produkt id ID #REQUIRED>
<!ELEMENT informationsSider ANY>
<!ATTLIST informationsSider id ID #REQUIRED>
]>
<root id="-1">
  <home id="1064" key="98fe7a78-b2d0-4474-99a3-da8059f4bb31" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2019-04-23T10:28:20" updateDate="2019-04-25T13:34:52" nodeName="Forsiden" urlName="forsiden" path="-1,1064" isDoc="" nodeType="1063" creatorName="Marlene Ramlov" writerName="Marlene Ramlov" writerID="0" template="1062" nodeTypeAlias="home" isPublished="true">
    <umbracoNaviHide>0</umbracoNaviHide>
    <pageDescription><![CDATA[Få dine ideer ]]></pageDescription>
    <pageTitle><![CDATA[Retro Kamera]]></pageTitle>
    <slides><![CDATA[umb://media/b826520850df4d03b1e58a27e6eb656e,umb://media/1ccd8a16f71a4eedb50005d6b40ba499,umb://media/b2bad4e6f47d4164a6646ea9140b10d0,umb://media/a17ca5923e5742c8b4a57f074a86567d]]></slides>
    <bodyText><![CDATA[<?UMBRACO_MACRO macroAlias="Slideshow" />
<h1>Full frame til spotpriser!</h1>
<h2>Brugte analoge kameraer og tilbehør</h2>
<h1><img style="width: 363px; height: 271px; float: right;" src="/media/1013/filmkassette.jpg?width=363&amp;height=271&amp;mode=max" alt="" data-udi="umb://media/42478da0d1074979ace015fe71ab0a14"></h1>
<p><span>Fotoentusiaster fra de analoge dage får helt sikkert en vemodig tåre i øjet ved tanken om de klassiske Niko</span></p>
<p><span>n F-modeller, der bød på kvalitet fra øverste hylde.</span></p>
<p><span>Nu bliver den ikoniske serie genoplivet med full-frame-nyheden Df, og Nikon har sat alle sejl til for at matche fortidens høje niveau.</span></p>
<p> </p>
<h2><span>Vi har sikkert det rigtige analoge kamera til dig</span></h2>
<p><span>Kameraet kan tage 5,5 billeder per sekund og har en lysmåler, der kan genkende motiver.</span></p>
<p><strong>Se f.eks dette kamera</strong></p>]]></bodyText>
    <contentPicker><![CDATA[umb://document/01fb9e2c9f1a4c838f77cb9e6dc444c6]]></contentPicker>
    <siteLogo><![CDATA[/media/1012/retrocam-logo.png]]></siteLogo>
    <siteName><![CDATA[Retrocam]]></siteName>
    <soMe><![CDATA[[{"key":"43545d23-04bd-4275-93f7-05fc0fdfd20e","name":"https://www.facebook.com/","ncContentTypeAlias":"socialMedier","link":"https://www.facebook.com/","className":"fa-facebook-official"},{"key":"63007967-f869-4ce9-8a2a-87cb6133a493","name":"https://www.instagram.com/","ncContentTypeAlias":"socialMedier","link":"https://www.instagram.com/","className":"fa-instagram"},{"key":"f261b7a1-e83e-4a46-b52f-cf5d33855b81","name":"https://twitter.com/","ncContentTypeAlias":"socialMedier","link":"https://twitter.com/","className":"fa-twitter-square"}]]]></soMe>
    <footerText><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "allowAll": true,
      "rows": [
        {
          "name": "2 kol",
          "areas": [
            {
              "grid": 6,
              "allowAll": true,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p><strong>Marlene K Ramlov</strong></p>\n<p><strong>KG12web218</strong></p>\n<p>8000 Aarhus c</p>\n<p>mail@mail.com</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": true
                }
              ],
              "hasActiveChild": true,
              "active": true
            },
            {
              "grid": 6,
              "allowAll": true,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p><strong>Oplysninger</strong></p>\n<p>Dette er en af mine awesome skole projekter. For ja det er vigtigt og brainstorm er ikke så stormende, men who cares?</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "3fe9946c-0200-d142-66d3-bf3b92444dd8",
          "hasActiveChild": true,
          "active": true
        }
      ]
    }
  ]
}]]></footerText>
    <searchResultPage><![CDATA[umb://document/ac73688c4d6245218277c18c53f5029a]]></searchResultPage>
    <baggrund><![CDATA[/media/1032/baggrundsbilledet.jpg]]></baggrund>
    <searchpage id="1092" key="ac73688c-4d62-4521-8277-c18c53f5029a" parentID="1064" level="2" creatorID="0" sortOrder="0" createDate="2019-04-23T13:51:46" updateDate="2019-04-24T11:28:05" nodeName="Søgeresultat" urlName="soegeresultat" path="-1,1064,1092" isDoc="" nodeType="1091" creatorName="Marlene Ramlov" writerName="Marlene Ramlov" writerID="0" template="1090" nodeTypeAlias="searchpage" isPublished="true">
      <umbracoNaviHide>0</umbracoNaviHide>
      <pageDescription><![CDATA[Søg og du skal finde.]]></pageDescription>
      <pageTitle><![CDATA[Søg på siden ]]></pageTitle>
      <slides><![CDATA[umb://media/4c20b908d2214bbbaec7c3bcd36dd62a,umb://media/bdd35266c8e248b0a497d2fa9cbe2320]]></slides>
      <umbracoFile><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "src": "/media/1014/search.jpg",
  "crops": [
    {
      "alias": "Avatar",
      "width": 960,
      "height": 600,
      "coordinates": {
        "x1": 0,
        "y1": 0.045740740740740742,
        "x2": 0,
        "y2": 0.12092592592592592
      }
    }
  ]
}]]></umbracoFile>
    </searchpage>
    <kontakt id="1098" key="79b2e214-2e81-48e9-8074-a2c22575c590" parentID="1064" level="2" creatorID="0" sortOrder="1" createDate="2019-04-24T11:03:13" updateDate="2019-04-24T11:56:49" nodeName="Kontakt os" urlName="kontakt-os" path="-1,1064,1098" isDoc="" nodeType="1097" creatorName="Marlene Ramlov" writerName="Marlene Ramlov" writerID="0" template="1096" nodeTypeAlias="kontakt" isPublished="true">
      <umbracoNaviHide>0</umbracoNaviHide>
      <pageDescription><![CDATA[Skriv en besked til os og vi kontakter dig inden for 3 dage. ]]></pageDescription>
      <pageTitle><![CDATA[Kontact RetroCam ]]></pageTitle>
      <slides><![CDATA[umb://media/b826520850df4d03b1e58a27e6eb656e,umb://media/60e6efeb2757484aaf0a971702c2e8f1,umb://media/1ccd8a16f71a4eedb50005d6b40ba499]]></slides>
      <bodyText><![CDATA[<h1>Kontakt os</h1>
<p>Du er altid velkommen til at kontakte os. </p>
<p class="paragraph ng-attr-widget"><span class="ng-directive ng-binding">Cupcake ipsum dolor sit amet. Fruitcake pudding sugar plum I love pie jelly beans fruitcake chocolate. Toffee dragée biscuit croissant liquorice pudding tart. Wafer gummi bears halvah oat cake.</span></p>
<p class="paragraph ng-attr-widget"><span class="ng-directive ng-binding">I love marzipan chocolate bar I love gummies. Croissant lollipop sweet roll tiramisu gingerbread I love gummi bears. Halvah caramels cake jelly candy canes gummi bears.</span></p>]]></bodyText>
      <tekstUnderKontaktFormularen><![CDATA[Når du sender en mail til os, stæber vi efter at svare hurtigst muligt tilbage.]]></tekstUnderKontaktFormularen>
      <besked id="1101" key="325f3d68-d7e5-4bed-974d-89668f71f4d1" parentID="1098" level="3" creatorID="0" sortOrder="0" createDate="2019-04-24T11:35:38" updateDate="2019-04-24T11:35:38" nodeName="Marlene K. Ramlov" urlName="marlene-k-ramlov" path="-1,1064,1098,1101" isDoc="" nodeType="1100" creatorName="Marlene Ramlov" writerName="Marlene Ramlov" writerID="0" template="0" nodeTypeAlias="besked" isPublished="true">
        <msgEmail><![CDATA[krarup90@gmail.com]]></msgEmail>
        <msgTlf><![CDATA[28772281]]></msgTlf>
        <msgBesked><![CDATA[Test TEstTestTESTETSSTESETETSETSETSETSETSETSETSETSETSETSETSET]]></msgBesked>
      </besked>
      <besked id="1147" key="ce5f6bfb-0dff-4642-8ee5-bc01490ed51e" parentID="1098" level="3" creatorID="0" sortOrder="1" createDate="2019-04-26T10:15:24" updateDate="2019-04-26T10:15:24" nodeName="Marlene K. Ramlov (1)" urlName="marlene-k-ramlov-1" path="-1,1064,1098,1147" isDoc="" nodeType="1100" creatorName="Marlene Ramlov" writerName="Marlene Ramlov" writerID="0" template="0" nodeTypeAlias="besked" isPublished="true">
        <msgEmail><![CDATA[krarup90@gmail.com]]></msgEmail>
        <msgTlf><![CDATA[28772281]]></msgTlf>
        <msgBesked><![CDATA[BLip Blip blop blop top top snop snop]]></msgBesked>
      </besked>
    </kontakt>
    <overkategorier id="1105" key="65e36bf9-8d69-41c1-a0c0-21da2bd22c96" parentID="1064" level="2" creatorID="0" sortOrder="2" createDate="2019-04-24T12:34:11" updateDate="2019-04-24T12:35:25" nodeName="Kameraer" urlName="kameraer" path="-1,1064,1105" isDoc="" nodeType="1104" creatorName="Marlene Ramlov" writerName="Marlene Ramlov" writerID="0" template="1103" nodeTypeAlias="overkategorier" isPublished="true">
      <umbracoNaviHide>0</umbracoNaviHide>
      <pageDescription><![CDATA[kameraer er ikke blip blop]]></pageDescription>
      <pageTitle><![CDATA[Alt om gamle gode kameraer]]></pageTitle>
      <bodyText><![CDATA[<h1>Kameraer</h1>
<p><span>Gummi bears tiramisu jujubes liquorice dessert ice cream chocolate bar bonbon. I love I love sweet powder cake. Tiramisu bonbon powder tiramisu pastry. Cheesecake chupa chups sweet roll powder sweet I love jelly.</span></p>]]></bodyText>
      <kategori id="1109" key="c0ccba08-e939-4a33-8ed4-b69b24d5d11f" parentID="1105" level="3" creatorID="0" sortOrder="0" createDate="2019-04-24T12:54:54" updateDate="2019-04-24T12:56:03" nodeName="Brugte spejlrefleks" urlName="brugte-spejlrefleks" path="-1,1064,1105,1109" isDoc="" nodeType="1107" creatorName="Marlene Ramlov" writerName="Marlene Ramlov" writerID="0" template="1106" nodeTypeAlias="kategori" isPublished="true">
        <umbracoNaviHide>0</umbracoNaviHide>
        <pageDescription><![CDATA[Spejlrefleks er sikkert et godt køb]]></pageDescription>
        <pageTitle><![CDATA[spejlrekses kameraret billigt]]></pageTitle>
        <bodyText><![CDATA[<h1>Brugte spejlrefelks kameraer</h1>
<p><span class="first-sentence">Partner network ramen backing gen-z conversion traction incubator.</span><span> Learning curve disruptive entrepreneur. Long tail assets hypotheses launch party facebook bandwidth learning curve stealth marketing interaction design user experience. Social proof analytics buyer termsheet launch party leverage bandwidth incubator market virality. Technology network effects branding A/B testing </span></p>
<p> </p>
<p><em>Early adopters rockstar monetization low hanging fruit validation holy grail hypotheses gamification sales stock technology freemium</em></p>
<p><em><img style="width: 386px; height: 300px;" src="/media/1016/slr-funktion.gif?width=386&amp;height=300" alt="" data-udi="umb://media/9cd2f2f0ee154b1091eb1824ae1c225d" /></em></p>]]></bodyText>
        <produkt id="1117" key="01fb9e2c-9f1a-4c83-8f77-cb9e6dc444c6" parentID="1109" level="4" creatorID="0" sortOrder="0" createDate="2019-04-24T13:25:52" updateDate="2019-04-26T09:51:34" nodeName="Pentax KX" urlName="pentax-kx" path="-1,1064,1105,1109,1117" isDoc="" nodeType="1116" creatorName="Marlene Ramlov" writerName="Marlene Ramlov" writerID="0" template="1115" nodeTypeAlias="produkt" isPublished="true">
  <umbracoNaviHide>0</umbracoNaviHide>
  <pageDescription><![CDATA[blosdmfælskdlfkæsldkf'dslk]]></pageDescription>
  <pageTitle><![CDATA[Pentax KX]]></pageTitle>
  <galleri><![CDATA[<h3 style="padding-left: 30px;">Billeder taget med Pentax KX</h3>
<?UMBRACO_MACRO macroAlias="Galleri" galleriNavn="Pentax Galleri" valgtMedia="1126,1127,1125" />]]></galleri>
  <lagerStatus>4</lagerStatus>
  <price><![CDATA[650,00]]></price>
  <type><![CDATA[Pentax]]></type>
  <umbracoFile><![CDATA[/media/1018/pentax-kx.jpg]]></umbracoFile>
  <modelType><![CDATA[KX]]></modelType>
  <bodyText><![CDATA[Early hanging fruit sales niche market release rockstar crowdsource first mover. Vælg "OK" for at give Oath og vores partnere tilladelse til at bruge dine data, eller vælg "Administrer indstillinger" for at se vores partnere og dine valg. Tip: Log ind for at gemme disse valg og undgå at skulle gentage dette på andre]]></bodyText>
  <multiNodeTreePicker><![CDATA[umb://document/2da4e68753904eb399eb3b7e3258b3c6,umb://document/5b0fa8791dd84e45bf63b3d2b92e1095,umb://document/6a3d266268b340f49dc682adfa692525]]></multiNodeTreePicker>
  <vejlPris><![CDATA[700]]></vejlPris>
</produkt>
        <produkt id="1120" key="2da4e687-5390-4eb3-99eb-3b7e3258b3c6" parentID="1109" level="4" creatorID="0" sortOrder="1" createDate="2019-04-24T13:58:15" updateDate="2019-04-26T09:52:13" nodeName="leica M3" urlName="leica-m3" path="-1,1064,1105,1109,1120" isDoc="" nodeType="1116" creatorName="Marlene Ramlov" writerName="Marlene Ramlov" writerID="0" template="1115" nodeTypeAlias="produkt" isPublished="true">
  <umbracoNaviHide>0</umbracoNaviHide>
  <pageDescription><![CDATA[Øje for date]]></pageDescription>
  <pageTitle><![CDATA[Få dine ideer ]]></pageTitle>
  <galleri><![CDATA[<p><strong>Her er nogle billeder med M3</strong></p>
<?UMBRACO_MACRO macroAlias="Galleri" galleriNavn="gal" valgtMedia="1129,1128" />]]></galleri>
  <lagerStatus>1</lagerStatus>
  <price><![CDATA[12,500]]></price>
  <type><![CDATA[Leica]]></type>
  <umbracoFile><![CDATA[/media/1021/leica-m3.jpg]]></umbracoFile>
  <modelType><![CDATA[M3]]></modelType>
  <bodyText><![CDATA[But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequenc]]></bodyText>
  <multiNodeTreePicker><![CDATA[umb://document/01fb9e2c9f1a4c838f77cb9e6dc444c6,umb://document/5b0fa8791dd84e45bf63b3d2b92e1095,umb://document/9bc514446c7440cdadec442297ceccbb,umb://document/6a3d266268b340f49dc682adfa692525]]></multiNodeTreePicker>
  <vejlPris><![CDATA[1200]]></vejlPris>
</produkt>
      </kategori>
      <kategori id="1111" key="c56cfdf8-b464-419f-80ca-b4318de99069" parentID="1105" level="3" creatorID="0" sortOrder="1" createDate="2019-04-24T12:57:53" updateDate="2019-04-24T12:57:53" nodeName="Brugte rangefinders" urlName="brugte-rangefinders" path="-1,1064,1105,1111" isDoc="" nodeType="1107" creatorName="Marlene Ramlov" writerName="Marlene Ramlov" writerID="0" template="1106" nodeTypeAlias="kategori" isPublished="true">
        <umbracoNaviHide>0</umbracoNaviHide>
        <pageDescription><![CDATA[sdkgæalkg'æklasd'glæka'dlskg'ælkælkkælk]]></pageDescription>
        <pageTitle><![CDATA[rangefinders]]></pageTitle>
        <bodyText><![CDATA[<h1>Brugte rangefinders kameraer</h1>
<p><span>Customer launch party funding. Holy grail interaction design termsheet success business model canvas marketing early adopters vesting period. Hypotheses facebook hackathon focus venture conversion alpha metrics holy grail social media android bandwidth client supply chain. Early adopters assets low hanging fruit sales niche market release rockstar crowdsource first mover advantage. Conversion growth hacking seed round gamification disruptive investor market startup hypotheses gen-z.</span></p>
<p> </p>
<p><em>Gummi bears tiramisu jujubes liquorice dessert ice cream chocolate bar bonbon. </em></p>
<p><em><img style="width: 621px; height:306px;" src="/media/1017/rangefinder-grafik.jpg?width=621&amp;height=306" alt="" data-udi="umb://media/0ef65b0ca92641f99b55a0beb7ca4ec1" /></em></p>]]></bodyText>
        <produkt id="1119" key="5b0fa879-1dd8-4e45-bf63-b3d2b92e1095" parentID="1111" level="4" creatorID="0" sortOrder="0" createDate="2019-04-24T13:57:12" updateDate="2019-04-26T09:51:07" nodeName="Oplympus Trip 35" urlName="oplympus-trip-35" path="-1,1064,1105,1111,1119" isDoc="" nodeType="1116" creatorName="Marlene Ramlov" writerName="Marlene Ramlov" writerID="0" template="1115" nodeTypeAlias="produkt" isPublished="true">
  <umbracoNaviHide>0</umbracoNaviHide>
  <pageDescription><![CDATA[Oplympus Trip 35 ældgm'sælgm'salpæmg'æsalmgæ'dalx,]]></pageDescription>
  <pageTitle><![CDATA[Oplympus Trip 35]]></pageTitle>
  <galleri><![CDATA[<p>Billeder taget med Oplympus Trip 35</p>
<?UMBRACO_MACRO macroAlias="Galleri" galleriNavn="gal" valgtMedia="1125,1093" />]]></galleri>
  <lagerStatus>2</lagerStatus>
  <price><![CDATA[150,00]]></price>
  <type><![CDATA[Oplympus ]]></type>
  <umbracoFile><![CDATA[/media/1020/olympus-trip-35.jpg]]></umbracoFile>
  <modelType><![CDATA[Trip 35]]></modelType>
  <bodyText><![CDATA[distracted by comprehensible content, say, a random text copied from a newspaper or the internet. The are likely to focus on the text, disregarding the layout and its elements. Besides, random text risks to be unintendedly humorous or offensive, an unacceptable risk in corporate environments. Lorem ipsum and its many varian]]></bodyText>
  <multiNodeTreePicker><![CDATA[umb://document/9bc514446c7440cdadec442297ceccbb,umb://document/01fb9e2c9f1a4c838f77cb9e6dc444c6]]></multiNodeTreePicker>
  <vejlPris><![CDATA[100]]></vejlPris>
</produkt>
        <produkt id="1121" key="9bc51444-6c74-40cd-adec-442297ceccbb" parentID="1111" level="4" creatorID="0" sortOrder="1" createDate="2019-04-24T13:59:57" updateDate="2019-04-26T09:52:48" nodeName="Pentax lx" urlName="pentax-lx" path="-1,1064,1105,1111,1121" isDoc="" nodeType="1116" creatorName="Marlene Ramlov" writerName="Marlene Ramlov" writerID="0" template="1115" nodeTypeAlias="produkt" isPublished="true">
  <umbracoNaviHide>0</umbracoNaviHide>
  <pageDescription><![CDATA[oksrlgklæaøkklødskg]]></pageDescription>
  <pageTitle><![CDATA[petax ekjf]]></pageTitle>
  <galleri><![CDATA[<?UMBRACO_MACRO macroAlias="Galleri" galleriNavn="galleri" valgtMedia="1127,1084" />]]></galleri>
  <lagerStatus>2</lagerStatus>
  <price><![CDATA[1100]]></price>
  <type><![CDATA[Pentax]]></type>
  <umbracoFile><![CDATA[/media/1022/pentax-lx.jpg]]></umbracoFile>
  <modelType><![CDATA[lx]]></modelType>
  <bodyText><![CDATA[But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequenc]]></bodyText>
  <multiNodeTreePicker><![CDATA[umb://document/9bc514446c7440cdadec442297ceccbb]]></multiNodeTreePicker>
  <vejlPris><![CDATA[100]]></vejlPris>
</produkt>
      </kategori>
      <kategori id="1112" key="502bddc0-fc2d-4de5-b26c-ffc0a740f70b" parentID="1105" level="3" creatorID="0" sortOrder="2" createDate="2019-04-24T12:59:57" updateDate="2019-04-24T12:59:57" nodeName="Kompakte og zonefokus" urlName="kompakte-og-zonefokus" path="-1,1064,1105,1112" isDoc="" nodeType="1107" creatorName="Marlene Ramlov" writerName="Marlene Ramlov" writerID="0" template="1106" nodeTypeAlias="kategori" isPublished="true">
        <umbracoNaviHide>0</umbracoNaviHide>
        <pageDescription><![CDATA[Kompakte og zonefokus]]></pageDescription>
        <pageTitle><![CDATA[Kompakte og zonefokus]]></pageTitle>
        <bodyText><![CDATA[<h1>Kompakte og zonefokus kameraer</h1>
<p><span> Handshake pivot user experience funding buzz release long tail prototype crowdsource stealth validation research &amp; development disruptive. Value proposition gamification ramen launch party branding influen</span></p>
<p><em>Equity business-to-business niche market learning curve market iteration buyer gen-z</em></p>
<p> </p>]]></bodyText>
        <produkt id="1118" key="6a3d2662-68b3-40f4-9dc6-82adfa692525" parentID="1112" level="4" creatorID="0" sortOrder="0" createDate="2019-04-24T13:55:34" updateDate="2019-04-26T09:21:30" nodeName="Olympys Mju-ll" urlName="olympys-mju-ll" path="-1,1064,1105,1112,1118" isDoc="" nodeType="1116" creatorName="Marlene Ramlov" writerName="Marlene Ramlov" writerID="0" template="1115" nodeTypeAlias="produkt" isPublished="true">
  <umbracoNaviHide>0</umbracoNaviHide>
  <pageDescription><![CDATA[Olympys Mju-ll soogdkas'kglæakg'laækdsælgk]]></pageDescription>
  <pageTitle><![CDATA[Olympys Mju-ll]]></pageTitle>
  <galleri><![CDATA[<p>Billeder taget med Olympys Mju-ll</p>
<?UMBRACO_MACRO macroAlias="Galleri" galleriNavn="Umbraco heroes" valgtMedia="1131,1128,1127,1125,1129,1130" />]]></galleri>
  <lagerStatus>0</lagerStatus>
  <price><![CDATA[60,00]]></price>
  <type><![CDATA[olympus]]></type>
  <umbracoFile><![CDATA[/media/1019/olympus-mju.jpg]]></umbracoFile>
  <modelType><![CDATA[mju-ii]]></modelType>
  <bodyText><![CDATA[Duo evertitur intellegam ne, his ex vitae epicuri temporibus, vel tamquam appareat dissentias cu. Ex eum ignota aperiri appetere, brute dicat delenit his te. Ex mea feugait reprehendunt, eum te mollis neglegentur. Eirmod pericula nec te, ei eos ferri impedit adolescens, mel officiis adolescens e]]></bodyText>
  <vejlPris><![CDATA[200]]></vejlPris>
</produkt>
      </kategori>
    </overkategorier>
    <overkategorier id="1132" key="72402fbf-4965-442a-b027-824ec57f872f" parentID="1064" level="2" creatorID="0" sortOrder="3" createDate="2019-04-25T12:38:55" updateDate="2019-04-25T12:40:14" nodeName="Film" urlName="film" path="-1,1064,1132" isDoc="" nodeType="1104" creatorName="Marlene Ramlov" writerName="Marlene Ramlov" writerID="0" template="1103" nodeTypeAlias="overkategorier" isPublished="true">
      <umbracoNaviHide>0</umbracoNaviHide>
      <pageDescription><![CDATA[film til diverse kameraer]]></pageDescription>
      <pageTitle><![CDATA[Film]]></pageTitle>
      <slides><![CDATA[umb://media/a17ca5923e5742c8b4a57f074a86567d,umb://media/b2bad4e6f47d4164a6646ea9140b10d0,umb://media/aa46c48485024909b61e6e0077fbc818]]></slides>
      <bodyText><![CDATA[<h1>Film</h1>
<p><span>e online browser platform through in a system. But stream software offline. Professor install angel sector anywhere create at components smart. Document fab developers encryption smartphone powered, bespoke blockstack edit atoms. Companies a storage adopters. Hardware company planet, torrent ut developers stream, engineering keyphrase end</span></p>]]></bodyText>
      <kategori id="1133" key="415c31bf-006b-4b64-9a7c-bcb7b48318c5" parentID="1132" level="3" creatorID="0" sortOrder="0" createDate="2019-04-25T12:43:06" updateDate="2019-04-25T12:43:12" nodeName="Positiv film" urlName="positiv-film" path="-1,1064,1132,1133" isDoc="" nodeType="1107" creatorName="Marlene Ramlov" writerName="Marlene Ramlov" writerID="0" template="1106" nodeTypeAlias="kategori" isPublished="true">
        <umbracoNaviHide>0</umbracoNaviHide>
        <pageDescription><![CDATA[sdkjøgajgøljasølgjasjøgl]]></pageDescription>
        <pageTitle><![CDATA[positiv film]]></pageTitle>
        <bodyText><![CDATA[<h1>Positiv film</h1>
<p><span>Document reality edit, install strategy startups hardware stream, analytics e-commerce smart. Privacy news data policies analytics documents.</span><br /><br /><span>Now digital designs id anywhere atoms. Now strategy startups documents designs. Venture crypto adopters niche. Video algorithm system ultra-private policies engineering. </span></p>
<p><em>Document 1,000 how torrent, non security mi sell crypto</em></p>
<p><em><img style="width: 504px; height: 376px;" src="/media/1013/filmkassette.jpg?width=504&amp;height=376&amp;mode=max" alt="" data-udi="umb://media/42478da0d1074979ace015fe71ab0a14" /></em></p>]]></bodyText>
        <produkt id="1134" key="bac87d9e-b532-4fa7-aabd-2bc3d8b9bce4" parentID="1133" level="4" creatorID="0" sortOrder="0" createDate="2019-04-25T12:46:29" updateDate="2019-04-26T09:22:21" nodeName="Rollei Vario Chrome Limited Edition" urlName="rollei-vario-chrome-limited-edition" path="-1,1064,1132,1133,1134" isDoc="" nodeType="1116" creatorName="Marlene Ramlov" writerName="Marlene Ramlov" writerID="0" template="1115" nodeTypeAlias="produkt" isPublished="true">
  <umbracoNaviHide>0</umbracoNaviHide>
  <pageDescription><![CDATA[Øje for data]]></pageDescription>
  <pageTitle><![CDATA[Rollei Vario Chrome]]></pageTitle>
  <galleri><![CDATA[<?UMBRACO_MACRO macroAlias="Galleri" galleriNavn="Film er ikke bare film" valgtMedia="1126,1127,1129" />]]></galleri>
  <lagerStatus>15</lagerStatus>
  <price><![CDATA[73]]></price>
  <type><![CDATA[Rollei]]></type>
  <umbracoFile><![CDATA[/media/1030/rollei-vario-chrome.jpg]]></umbracoFile>
  <modelType><![CDATA[Vario Chrome]]></modelType>
  <bodyText><![CDATA[System ultra-private policies engineering. Users takedowns. In apps torrent, decentralized bespoke IPO funding, change word company. e-commerce com]]></bodyText>
  <vejlPris><![CDATA[90]]></vejlPris>
</produkt>
        <produkt id="1135" key="d179fe7b-568f-40e4-922d-2315758828e1" parentID="1133" level="4" creatorID="0" sortOrder="1" createDate="2019-04-25T12:48:43" updateDate="2019-04-26T09:23:26" nodeName="FujiChome Velvia 100" urlName="fujichome-velvia-100" path="-1,1064,1132,1133,1135" isDoc="" nodeType="1116" creatorName="Marlene Ramlov" writerName="Marlene Ramlov" writerID="0" template="1115" nodeTypeAlias="produkt" isPublished="true">
  <umbracoNaviHide>0</umbracoNaviHide>
  <pageDescription><![CDATA[kjlækgjældkjægkls jaæslkjræ lakjælijasioæjiæoaj ]]></pageDescription>
  <pageTitle><![CDATA[Film film film]]></pageTitle>
  <galleri><![CDATA[<?UMBRACO_MACRO macroAlias="Galleri" galleriNavn="Fujichome velvia giver smukke billedere med naturlig farve" valgtMedia="1127,1130,1131" />]]></galleri>
  <lagerStatus>25</lagerStatus>
  <price><![CDATA[85]]></price>
  <type><![CDATA[FujiChome ]]></type>
  <umbracoFile><![CDATA[/media/1031/fujichrome-velvia-100.jpg]]></umbracoFile>
  <modelType><![CDATA[Velvia 100]]></modelType>
  <bodyText><![CDATA[Diafilm til dagslys, iso 100]]></bodyText>
  <vejlPris><![CDATA[95]]></vejlPris>
</produkt>
      </kategori>
    </overkategorier>
    <informationsSider id="1141" key="7888c37f-6b3e-4770-8a74-2b2fa7dceb3a" parentID="1064" level="2" creatorID="0" sortOrder="4" createDate="2019-04-25T13:48:23" updateDate="2019-04-25T13:48:23" nodeName="Vilkår &amp; betingelser" urlName="vilkaar-betingelser" path="-1,1064,1141" isDoc="" nodeType="1138" creatorName="Marlene Ramlov" writerName="Marlene Ramlov" writerID="0" template="1137" nodeTypeAlias="informationsSider" isPublished="true">
      <umbracoNaviHide>0</umbracoNaviHide>
      <pageDescription><![CDATA[BYENS BEDSTE.........]]></pageDescription>
      <pageTitle><![CDATA[Vilkår og betingelser]]></pageTitle>
      <slides><![CDATA[umb://media/e4c9ace502534ed6b465f893347325b4,umb://media/6b21630713534f7ba5541f3479b91884]]></slides>
      <bodyText><![CDATA[<p><span>Det er en kendsgerning, at man bliver distraheret af læsbart indhold på en side, når man betragter dens layout. Meningen med at bruge Lorem Ipsum er, at teksten indeholder mere eller mindre almindelig tekstopbygning i modsætning til "Tekst her - og mere tekst her", mens det samtidigt ligner almindelig tekst. Mange layoutprogrammer og webdesignere bruger Lorem Ipsum som fyldtekst. En søgning på Lorem Ipsum afslører mange websider, som stadig er på udviklingsstadiet. Der </span></p>]]></bodyText>
    </informationsSider>
  </home>
</root>