<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT produkter ANY>
<!ATTLIST produkter id ID #REQUIRED>
<!ELEMENT produktkategori ANY>
<!ATTLIST produktkategori id ID #REQUIRED>
<!ELEMENT produkt ANY>
<!ATTLIST produkt id ID #REQUIRED>
<!ELEMENT kontakt ANY>
<!ATTLIST kontakt id ID #REQUIRED>
<!ELEMENT besked ANY>
<!ATTLIST besked id ID #REQUIRED>
<!ELEMENT tekstside ANY>
<!ATTLIST tekstside id ID #REQUIRED>
<!ELEMENT searchpage ANY>
<!ATTLIST searchpage id ID #REQUIRED>
]>
<root id="-1">
  <home id="1054" key="2d57b9b6-1a4c-48d3-a9fe-0f245485668a" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-08-28T12:44:29" updateDate="2018-05-07T09:06:57" nodeName="da" urlName="da" path="-1,1054" isDoc="" nodeType="1052" creatorName="Leif Andersen" writerName="Leif Andersen" writerID="0" template="1053" nodeTypeAlias="home">
    <baggrundsbillede><![CDATA[/media/1001/film-grain.jpg]]></baggrundsbillede>
    <searchPage>1105</searchPage>
    <logo><![CDATA[/media/1032/retrocam-logo.png]]></logo>
    <slideSelector><![CDATA[1139,1066,1065]]></slideSelector>
    <bodyText><![CDATA[<h1><img style="width: 410px; height: 306px; float: right;" src="/media/1018/filmkassette.jpg?width=410&amp;height=306" alt="" rel="1094" data-id="1094">Full frame til spotpriser!</h1>
<h2>Brugte analoge kameraer og tilbehør</h2>
<p><span class="Broedtekst">Med et analogt kamera får du full-frame billeder til meget billige priser. </span></p>
<p><span class="Broedtekst">Samtidig oplever du en helt anden stemning når du tager billeder, både ved håndteringen af et analogt kamera, men også ved de færdige billeder.</span></p>
<p>Et billede skannet fra et negativ i dag, vil om 10 år sikkert kunne skannes i en endnu højere opløsning og kvalitet.</p>
<h2>Vi har sikkert det rigtige analoge kamera til dig</h2>
<p>Kameraer fås i mange varianter, lige fra spejlrefleks-kameraet til point-and-shoot kameraet. Du finder nemt ét der passer til dit humør. Og samtidig er de så billige, at du sagtens kan købe flere!</p>
<p><strong>Se f.eks. dette kamera:</strong></p>
<?UMBRACO_MACRO macroAlias="ProduktIFokus" produkt="1082" />
<p>Hvis ovenstående model ikke falder i din smag, kan du finde andre brugte analoge kamera ved at <a data-id="1071" href="/{localLink:1071}" title="Kameraer">klikke her</a>, eller film til kameret ved at <a data-id="1134" href="/{localLink:1134}" title="Film">klikke her</a>.</p>]]></bodyText>
    <gridLayout><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Her er mit Grid Layout",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "746946f6-f2e3-87b5-97e9-6cc6b19f1be2"
        }
      ]
    }
  ]
}]]></gridLayout>
    <adresse><![CDATA[<p><strong>RetroCam<br /></strong>Kannikegade 12<br />8000 Aarhus C<br />mail:din@email.dk<a href="mailto:lean@videndjurs.dk"></a></p>]]></adresse>
    <produkter id="1071" key="fa0a15af-4278-4f49-a732-5d3a09a80d1e" parentID="1054" level="2" creatorID="0" sortOrder="0" createDate="2016-09-12T10:54:57" updateDate="2018-05-01T10:21:41" nodeName="Kameraer" urlName="kameraer" path="-1,1054,1071" isDoc="" nodeType="1070" creatorName="Leif Andersen" writerName="Leif Andersen" writerID="0" template="1069" nodeTypeAlias="produkter">
      <umbracoNaviHide>0</umbracoNaviHide>
      <pageDescription><![CDATA[Vi sælger både analoge kameraer og selvfølgelig også udstyr og film til dem]]></pageDescription>
      <pageTitle><![CDATA[Her får du overblik over vores produktkategorier]]></pageTitle>
      <bodyText><![CDATA[<p>Her får du overblik over vores produktkategorier, hvor du finder mange forskellige ting til dit analoge kamera.</p>]]></bodyText>
      <produktkategori id="1076" key="bba36b93-da44-49b6-82af-7ddb6d9f48e9" parentID="1071" level="3" creatorID="0" sortOrder="0" createDate="2016-09-12T11:43:35" updateDate="2016-09-12T19:42:51" nodeName="Brugte spejlrefleks" urlName="brugte-spejlrefleks" path="-1,1054,1071,1076" isDoc="" nodeType="1073" creatorName="Leif Andersen" writerName="Leif Andersen" writerID="0" template="1072" nodeTypeAlias="produktkategori">
        <umbracoNaviHide>0</umbracoNaviHide>
        <pageDescription><![CDATA[De kameraer du finder her er brugte analoge spejlrefleks kameraer, som alle er vedligeholdt og tjekket inden salg]]></pageDescription>
        <pageTitle><![CDATA[Her finder du vores brugte analoge spejlrefleks kameraer]]></pageTitle>
        <bodyText><![CDATA[<p>Spejlrefleks-kameraet er nok det de fleste kender til i dag. Med et spejlrefleks-kamera kommer lyset igennem objektivet og sendes via et spejl og et prisme til søgeren. Det betyder at fotografen ser næsten samme billedudsnit, som det der rammer filmen når spejles lukkes op.</p>
<p><em>Her er lidt grafik der viser spejlreflekskameraets principper:</em></p>
<p><img style="width: 386px; height: 300px;" src="/media/1010/slr-funktion.gif?width=386&amp;height=300" alt="" rel="1081" data-id="1081" /></p>]]></bodyText>
        <produkt id="1077" key="ef7969bf-9eb4-433b-8838-9df4322c4c0a" parentID="1076" level="4" creatorID="0" sortOrder="0" createDate="2016-09-12T11:47:23" updateDate="2018-05-01T13:58:10" nodeName="Canon AE-1" urlName="canon-ae-1" path="-1,1054,1071,1076,1077" isDoc="" nodeType="1075" creatorName="Leif Andersen" writerName="Leif Andersen" writerID="0" template="1074" nodeTypeAlias="produkt">
          <umbracoNaviHide>0</umbracoNaviHide>
          <bodyText><![CDATA[<p>Dette velholdte kamera fra 1983 har kun haft 1 ejer, og står næsten som ny. Kameraet er tjekket for fejl inden salg. Sælges inkl. 50mm F1.8 objektiv og en rulle film.</p>
<?UMBRACO_MACRO macroAlias="Galleri" galleriNavn="Billeder taget med et Canon AE-1" valgtMedia="1112,1114,1108" height="200" width="200" />]]></bodyText>
          <pris>800</pris>
          <lagerAntal>2</lagerAntal>
          <modeltype><![CDATA[AE-1]]></modeltype>
          <umbracoFile><![CDATA[/media/1008/canon-ae-1.jpg]]></umbracoFile>
          <kortBeskrivelse><![CDATA[Lille spejlrefleks fra Canon, med mange muligheder]]></kortBeskrivelse>
          <fabrikat><![CDATA[Canon]]></fabrikat>
        </produkt>
        <produkt id="1082" key="fc1a5cd0-a48b-4806-81f1-8c9744e16c42" parentID="1076" level="4" creatorID="0" sortOrder="1" createDate="2016-09-12T12:34:40" updateDate="2018-05-01T13:58:31" nodeName="Pentax LX" urlName="pentax-lx" path="-1,1054,1071,1076,1082" isDoc="" nodeType="1075" creatorName="Leif Andersen" writerName="Leif Andersen" writerID="0" template="1074" nodeTypeAlias="produkt">
          <umbracoNaviHide>0</umbracoNaviHide>
          <bodyText><![CDATA[<p>Pentax' eneste professionelle spejlrefleks.</p>]]></bodyText>
          <pris>2500</pris>
          <lagerAntal>1</lagerAntal>
          <modeltype><![CDATA[LX]]></modeltype>
          <umbracoFile><![CDATA[/media/1011/pentax-lx.jpg]]></umbracoFile>
          <kortBeskrivelse><![CDATA[Professionelt spejlrefleks med tidernes bedste lysmåler]]></kortBeskrivelse>
          <fabrikat><![CDATA[Asahi Pentax]]></fabrikat>
        </produkt>
        <produkt id="1115" key="2889a969-3717-4e87-aff2-d608db7c51a8" parentID="1076" level="4" creatorID="0" sortOrder="2" createDate="2016-09-12T20:17:58" updateDate="2018-05-01T13:58:50" nodeName="Pentax KX" urlName="pentax-kx" path="-1,1054,1071,1076,1115" isDoc="" nodeType="1075" creatorName="Leif Andersen" writerName="Leif Andersen" writerID="0" template="1074" nodeTypeAlias="produkt">
          <umbracoNaviHide>0</umbracoNaviHide>
          <bodyText><![CDATA[<p>Pentax KX er en del af K-serien (K1000, KM, KX, K2) og er et populært kamera på grund af sine mange features.</p>
<p>Sælges inkl. 50mm 2.0 objektiv.</p>
<?UMBRACO_MACRO macroAlias="Galleri" galleriNavn="Billeder taget med KX" valgtMedia="1109,1110,1113,1111" height="" width="" />]]></bodyText>
          <pris>650</pris>
          <lagerAntal>1</lagerAntal>
          <modeltype><![CDATA[KX]]></modeltype>
          <umbracoFile><![CDATA[/media/1030/pentax-kx.jpg]]></umbracoFile>
          <kortBeskrivelse><![CDATA[Robust spejlrefleks fra Pentax, til den erfarne fotograf]]></kortBeskrivelse>
          <fabrikat><![CDATA[Asahi Pentax]]></fabrikat>
        </produkt>
      </produktkategori>
      <produktkategori id="1078" key="cb0e416d-af96-419b-9f19-b1da0f398fdc" parentID="1071" level="3" creatorID="0" sortOrder="1" createDate="2016-09-12T11:53:38" updateDate="2016-09-12T13:18:18" nodeName="Brugte rangefinders" urlName="brugte-rangefinders" path="-1,1054,1071,1078" isDoc="" nodeType="1073" creatorName="Leif Andersen" writerName="Leif Andersen" writerID="0" template="1072" nodeTypeAlias="produktkategori">
        <umbracoNaviHide>0</umbracoNaviHide>
        <pageTitle><![CDATA[Her er vores brugte rangefinder kameraer]]></pageTitle>
        <bodyText><![CDATA[<p>Rangefinder (målsøger) kameraer bruger et system af spejle og prismer til fokusering. Se eksemplet herunder:</p>
<p><img style="width: 500px; height: 246.3768115942029px;" src="/media/1009/rangefinder-grafik.jpg?width=500&amp;height=246.3768115942029" alt="" rel="1080" data-id="1080" /></p>
<p>Rangefinder-kamereraer er velegnede til street-fotografi. De er fysisk ret små i forhold til spejlrefleks-kameraer. Rangefinder-fokuseringen er meget hurtig. Lukkeren i et rangefinder-kamera er ofte meget lydløs og da der ikke er et spejlt, er det nemmere at tage billeder når der er lave lysniveau.</p>
<p>De mest kendte rangefinder kameraer er vel nok Leica, som er meget eftertragtede. </p>]]></bodyText>
        <produkt id="1083" key="00a83cba-7c70-4ea8-a42c-e08127f59669" parentID="1078" level="4" creatorID="0" sortOrder="0" createDate="2016-09-12T12:36:30" updateDate="2018-05-01T13:59:31" nodeName="Leica M3" urlName="leica-m3" path="-1,1054,1071,1078,1083" isDoc="" nodeType="1075" creatorName="Leif Andersen" writerName="Leif Andersen" writerID="0" template="1074" nodeTypeAlias="produkt">
          <umbracoNaviHide>0</umbracoNaviHide>
          <bodyText><![CDATA[<p>Leicas vel nok mest berømte model. Leica M3 satte en ny standard i kvalitet og er den dag i dag eftertragtet. Den viste model er en double-stroke M3 med 50mm objektiv.</p>]]></bodyText>
          <pris>12500</pris>
          <lagerAntal>0</lagerAntal>
          <modeltype><![CDATA[M3]]></modeltype>
          <umbracoFile><![CDATA[/media/1012/leica-m3.jpg]]></umbracoFile>
          <kortBeskrivelse><![CDATA[Af mange anset som verdens bedste kamera]]></kortBeskrivelse>
          <fabrikat><![CDATA[Leica Camera AG]]></fabrikat>
        </produkt>
      </produktkategori>
      <produktkategori id="1084" key="f29e1187-155b-465a-898c-192896f46af4" parentID="1071" level="3" creatorID="0" sortOrder="2" createDate="2016-09-12T12:40:17" updateDate="2016-09-12T12:43:26" nodeName="Kompakte og zonefokus" urlName="kompakte-og-zonefokus" path="-1,1054,1071,1084" isDoc="" nodeType="1073" creatorName="Leif Andersen" writerName="Leif Andersen" writerID="0" template="1072" nodeTypeAlias="produktkategori">
        <umbracoNaviHide>0</umbracoNaviHide>
        <bodyText><![CDATA[<p>Her finder du kompakte kameraer med zonefokus eller uden fokus. Kameraer i denne kategori er ofte i den billigere ende, da de ikke er særligt komplicerede i deres opbygning.</p>]]></bodyText>
        <produkt id="1085" key="203c057d-a34b-496a-a7e5-a914bc23d32b" parentID="1084" level="4" creatorID="0" sortOrder="0" createDate="2016-09-12T12:40:56" updateDate="2018-05-01T13:59:52" nodeName="Olympus Trip 35" urlName="olympus-trip-35" path="-1,1054,1071,1084,1085" isDoc="" nodeType="1075" creatorName="Leif Andersen" writerName="Leif Andersen" writerID="0" template="1074" nodeTypeAlias="produkt">
          <umbracoNaviHide>0</umbracoNaviHide>
          <bodyText><![CDATA[<p>Det mest producerede kamera nogensinde. Produceret i mere end 10000000 eksemplarer.</p>]]></bodyText>
          <pris>100</pris>
          <lagerAntal>3</lagerAntal>
          <modeltype><![CDATA[Trip 35]]></modeltype>
          <umbracoFile><![CDATA[/media/1013/olympus-trip-35.jpg]]></umbracoFile>
          <kortBeskrivelse><![CDATA[Lille lommekamera med rigtig godt objektiv]]></kortBeskrivelse>
          <fabrikat><![CDATA[Olympus]]></fabrikat>
        </produkt>
        <produkt id="1086" key="1ba34067-4ec5-498b-9e23-3f10f4c783e5" parentID="1084" level="4" creatorID="0" sortOrder="1" createDate="2016-09-12T13:05:33" updateDate="2018-05-01T14:00:13" nodeName="Olympus Mju-II" urlName="olympus-mju-ii" path="-1,1054,1071,1084,1086" isDoc="" nodeType="1075" creatorName="Leif Andersen" writerName="Leif Andersen" writerID="0" template="1074" nodeTypeAlias="produkt">
          <umbracoNaviHide>0</umbracoNaviHide>
          <bodyText><![CDATA[<p>Meget populært kompakt-kamera pga. dets gode objektiv.</p>]]></bodyText>
          <pris>60</pris>
          <lagerAntal>1</lagerAntal>
          <modeltype><![CDATA[Mju-II]]></modeltype>
          <umbracoFile><![CDATA[/media/1014/olympus-mju.jpg]]></umbracoFile>
          <kortBeskrivelse><![CDATA[Lille kvalitetskamera med integreret  objektivdæksel]]></kortBeskrivelse>
          <fabrikat><![CDATA[Olympus]]></fabrikat>
        </produkt>
      </produktkategori>
    </produkter>
    <produkter id="1134" key="00a744a1-3154-44ab-a1fd-da168a5f2d56" parentID="1054" level="2" creatorID="0" sortOrder="1" createDate="2018-05-01T09:53:16" updateDate="2018-05-01T12:16:34" nodeName="Film" urlName="film" path="-1,1054,1134" isDoc="" nodeType="1070" creatorName="Leif Andersen" writerName="Leif Andersen" writerID="0" template="1069" nodeTypeAlias="produkter">
      <umbracoNaviHide>0</umbracoNaviHide>
      <pageTitle><![CDATA[Film til analoge kameraer]]></pageTitle>
      <slideSelector><![CDATA[1143]]></slideSelector>
      <bodyText><![CDATA[<p>Dit kamera skal bruge film. På RetroCam fås to slags film: Diafilm (Positiv film) og negativ film.</p>
<p>Det mest almindelige er negativ film, og fås i mange varianter. Positiv film (dia-film) giver bedst billedkvalitet hvad angår korn og farver, men kan være vanskeligere at eksponere korrekt. De er desuden dyrere, og kræver en anden fremkaldelsesproces.</p>]]></bodyText>
      <produktkategori id="1135" key="6c1a0a84-6444-4707-8943-8892d3e6a081" parentID="1134" level="3" creatorID="0" sortOrder="0" createDate="2018-05-01T09:59:09" updateDate="2018-05-01T09:59:09" nodeName="Positiv film (dias)" urlName="positiv-film-dias" path="-1,1054,1134,1135" isDoc="" nodeType="1073" creatorName="Leif Andersen" writerName="Leif Andersen" writerID="0" template="1072" nodeTypeAlias="produktkategori">
        <umbracoNaviHide>0</umbracoNaviHide>
        <bodyText><![CDATA[<p>Det ultimative, når det kommer til film er diasfilm. Her får du de fineste korn, stærkeste farver og bedste kvalitet. Til gengæld skal du sørge for, at måle lyset 100% korrekt, for bedste billedkvalitet.</p>
<p>Fremkaldes i E-6 fremkaldere.</p>]]></bodyText>
        <produkt id="1136" key="12523f68-9ad0-433f-99b2-b3d29677542d" parentID="1135" level="4" creatorID="0" sortOrder="0" createDate="2018-05-01T10:03:33" updateDate="2018-05-01T14:00:27" nodeName="Fujichrome Velvia 100" urlName="fujichrome-velvia-100" path="-1,1054,1134,1135,1136" isDoc="" nodeType="1075" creatorName="Leif Andersen" writerName="Leif Andersen" writerID="0" template="1074" nodeTypeAlias="produkt">
          <umbracoNaviHide>0</umbracoNaviHide>
          <bodyText><![CDATA[<p>Fujichrome Velvia 100 er en forholdsvis hurtig farve dia-film til dagslys optagelser.</p>]]></bodyText>
          <pris>85</pris>
          <lagerAntal>0</lagerAntal>
          <modeltype><![CDATA[Fujichrome Velvia 100]]></modeltype>
          <umbracoFile><![CDATA[/media/1034/fujichrome-velvia-100.jpg]]></umbracoFile>
          <kortBeskrivelse><![CDATA[Diafilm til dagslys, ISO 100]]></kortBeskrivelse>
          <fabrikat><![CDATA[Fuji]]></fabrikat>
        </produkt>
        <produkt id="1137" key="d34fd292-d3ce-4fb0-82b0-ad17de5cdc69" parentID="1135" level="4" creatorID="0" sortOrder="1" createDate="2018-05-01T10:08:30" updateDate="2018-05-01T12:43:25" nodeName="Rollei Vario Chrome Limited Edition" urlName="rollei-vario-chrome-limited-edition" path="-1,1054,1134,1135,1137" isDoc="" nodeType="1075" creatorName="Leif Andersen" writerName="Leif Andersen" writerID="0" template="1074" nodeTypeAlias="produkt">
          <umbracoNaviHide>0</umbracoNaviHide>
          <bodyText><![CDATA[<p>Rollei Vario Chrome Limited Edition er en nyere dia-film der giver naturlige farver</p>]]></bodyText>
          <pris>72.5</pris>
          <lagerAntal>28</lagerAntal>
          <modeltype><![CDATA[Vario Chrome]]></modeltype>
          <umbracoFile><![CDATA[/media/1035/rollei-vario-chrome.jpg]]></umbracoFile>
          <kortBeskrivelse><![CDATA[Vario Chrome, naturlige farver til konkurrencedygtig pris]]></kortBeskrivelse>
          <fabrikat><![CDATA[Rollei]]></fabrikat>
        </produkt>
      </produktkategori>
    </produkter>
    <kontakt id="1089" key="920c6f69-51db-4e8b-a140-7a95321a59e4" parentID="1054" level="2" creatorID="0" sortOrder="2" createDate="2016-09-12T13:22:55" updateDate="2018-05-01T12:09:07" nodeName="Kontakt os" urlName="kontakt-os" path="-1,1054,1089" isDoc="" nodeType="1088" creatorName="Leif Andersen" writerName="Leif Andersen" writerID="0" template="1087" nodeTypeAlias="kontakt">
      <umbracoNaviHide>0</umbracoNaviHide>
      <bodyText><![CDATA[<p>Du er velkommen til at kontakte os, hvis du har spørgsmål til vores hjemmeside eller til et af vores produkter.</p>
<p>Udfyld blot formularen herunder, eller skriv en mail ved at klikke her:</p>
<?UMBRACO_MACRO macroAlias="Kontaktformular" />
<p>Når du sender os en mail, så svarer vi tilbage så hurtigt som muligt.</p>]]></bodyText>
      <slideSelector><![CDATA[1139]]></slideSelector>
      <besked id="1097" key="69a4ebf3-b166-4483-a88e-7f0f4b70a869" parentID="1089" level="3" creatorID="0" sortOrder="0" createDate="2016-09-12T17:50:55" updateDate="2016-09-12T17:50:55" nodeName="Leif Andersen" urlName="leif-andersen" path="-1,1054,1089,1097" isDoc="" nodeType="1090" creatorName="Leif Andersen" writerName="Leif Andersen" writerID="0" template="0" nodeTypeAlias="besked">
        <msgEmail><![CDATA[leif@allmyphotos.dk]]></msgEmail>
        <msgAlder><![CDATA[45]]></msgAlder>
        <msgBesked><![CDATA[Her er en besked!]]></msgBesked>
      </besked>
    </kontakt>
    <tekstside id="1100" key="fbc25cd1-a4c9-4fcd-875c-f43463871256" parentID="1054" level="2" creatorID="0" sortOrder="3" createDate="2016-09-12T19:31:56" updateDate="2018-05-01T12:13:54" nodeName="Vilkår &amp; betingelser" urlName="vilkaar-betingelser" path="-1,1054,1100" isDoc="" nodeType="1099" creatorName="Leif Andersen" writerName="Leif Andersen" writerID="0" template="1098" nodeTypeAlias="tekstside">
      <umbracoNaviHide>0</umbracoNaviHide>
      <slideSelector><![CDATA[1142]]></slideSelector>
      <bodyText><![CDATA[<p>Køb af brugte produkter er ikke underlagt dansk lov om produktgaranti. RetroCam giver dog 1 års garanti fra købsdato på alle brugte kameraer.</p>
<p><strong>Der gives ikke garanti for købt tilbehør, film og andet.</strong></p>
<p>Ved tvivlsspørgsmål er du velkommen til at kontakt os.</p>
<p>Udfyld i så fald formularen på vores <a data-id="1089" href="/{localLink:1089}" title="Kontakt os">kontaktside</a>.</p>]]></bodyText>
    </tekstside>
    <searchpage id="1105" key="1f0bff14-2708-4d00-8671-3a58fcc81331" parentID="1054" level="2" creatorID="0" sortOrder="4" createDate="2016-09-12T19:46:20" updateDate="2018-05-01T12:12:54" nodeName="Søgesiden" urlName="soegesiden" path="-1,1054,1105" isDoc="" nodeType="1104" creatorName="Leif Andersen" writerName="Leif Andersen" writerID="0" template="1103" nodeTypeAlias="searchpage">
      <umbracoNaviHide>1</umbracoNaviHide>
      <slideSelector><![CDATA[1141]]></slideSelector>
    </searchpage>
  </home>
</root>