@model NewsBuzz.Models.LoginViewModel
@{
    ViewBag.Title = "Loginsiden";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Log ind i NewsBuzz her!</h2>

<div class="container">

    <form action="/Home/Login" method="post">

        @* Brugernavn *@
        <div class="form-group">
            <label for="Username">Brugernavn:</label>
            <input class="form-control" type="text" name="Username" id="Username" />
        </div>

        @* Adgangskode *@
        <div class="form-group">
            <label for="Password">Adgangskode:</label>
            <input class="form-control" type="password" name="Password" id="Password" />
        </div>
        @* Small-kassen kommer først når model.message er aktiveret *@
        <small class="form-text text-danger p-2 w-25">@Model.Message</small>

        @* Login-knap *@
        <input class="btn btn-dark w-25 sort" type="submit" name="btnLogin" value="Login" />

    </form>
    

</div>