@model Opgave_REST_CRUD_API.Models.Citat

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    console.log(CitaterPaaListe)
</script>


<h2>Index</h2>

<ul>
    <li></li>
</ul>
