<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[<!ELEMENT forside ANY>
<!ATTLIST forside id ID #REQUIRED>
<!ELEMENT forbrug ANY>
<!ATTLIST forbrug id ID #REQUIRED>
]>
<root id="-1">
  <forside id="1063" key="cd4be311-110a-4f8a-95ba-2abd0e41a221" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2019-04-24T14:10:54" updateDate="2019-04-24T14:10:54" nodeName="Forside" urlName="forside" path="-1,1063" isDoc="" nodeType="1062" creatorName="Villads Claes" writerName="Villads Claes" writerID="0" template="1061" nodeTypeAlias="forside" isPublished="true">
    <forbrug id="1067" key="bcb5d2f4-4222-45ac-a3c0-6ec9171d82c2" parentID="1063" level="2" creatorID="0" sortOrder="0" createDate="2019-04-24T14:40:03" updateDate="2019-04-24T18:48:31" nodeName="Strømforbrug" urlName="stroemforbrug" path="-1,1063,1067" isDoc="" nodeType="1065" creatorName="Villads Claes" writerName="Villads Claes" writerID="0" template="1064" nodeTypeAlias="forbrug" isPublished="false" />
    <forbrug id="1068" key="6a05f967-8b5d-4672-9e82-c273cbcdcef6" parentID="1063" level="2" creatorID="0" sortOrder="1" createDate="2019-04-24T14:40:16" updateDate="2019-04-24T14:40:16" nodeName="Vandforbrug" urlName="vandforbrug" path="-1,1063,1068" isDoc="" nodeType="1065" creatorName="Villads Claes" writerName="Villads Claes" writerID="0" template="1064" nodeTypeAlias="forbrug" isPublished="true" />
    <forbrug id="1069" key="1ecc730f-cd00-4f4d-a3a7-4b0750989616" parentID="1063" level="2" creatorID="0" sortOrder="2" createDate="2019-04-24T14:40:28" updateDate="2019-04-24T14:40:59" nodeName="Varmeforbrug" urlName="varmeforbrug" path="-1,1063,1069" isDoc="" nodeType="1065" creatorName="Villads Claes" writerName="Villads Claes" writerID="0" template="1064" nodeTypeAlias="forbrug" isPublished="true" />
  </forside>
</root>