@model formular.Models.MailViewModel
@{
    ViewBag.Title = "Newsletter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Newsletter</h2>
<form action="/Home/Newsletter" method="post">
    <label for="MailAdressFrom">Din email</label>
    <input type="email"   name="MailAdressFrom" id="MailAdressFrom" value="" required />
    @Html.ValidationMessage("MailAdressFrom")

    <input type="checkbox" name="CheckNewsletter" id="CheckNewsletter" value="true" />
    <label for="CheckNewsletter">Få en månedelig nyhedsmail</label>

    <input type="submit" name="btnSendNews" value="Tilmeld nyhedsbrev" />
    @Html.ValidationSummary()
</form>
<ul>
    <li></li>
    <li>@Model.Message</li>
</ul>


