@import url('https://fonts.googleapis.com/css?family=Raleway');

/*Gælder alle payoff-bokse*/
.payoff h2{
    font-family:'Raleway',sans-serif;
    font-size:4em;
    font-weight:900;
    color:#FFF;
    text-transform:uppercase;
}
/*Gælder alle farvede spans*/
.colortext{
    color:#FFFF00;
}

header{
    width: 100%;
    height: 100px;
    background-color: #000;
    padding: 10px;
    position: fixed;
}
header div.logo{
    width: 35%;
    height: 100%;
    float: left;
}
header div.logo img {
        height: 100%;
    }
header nav{
    padding: 35px;
    width: 40%;
    height: 100%;
/*Box-sizing kunne måske være i reset-stilskemaet?*/
    box-sizing: border-box;
    float: left;
}
header nav ul{
    width: 100%;
/*flex fordeler ikoner på resterende plads*/
    display: flex;
    justify-content: space-between;
}
header nav ul li {
      display: inline;
    }
header nav ul li a {
            /*links skal være sorte*/
            color: #fff;
            /*links skal være dobbelt så store som almindelig tekst*/
            font-size: 2em;
/*links skal have en skrifttype som er importeret fra Google fonts i toppen*/
            font-family: 'Raleway', sans-serif;
/*links skal være versaler*/
            text-transform: uppercase;
/*links skal ikke have understregning eller prikker ud for*/
            text-decoration: none;

        }
header nav ul li a:hover{
            color: #ffff00;
/*links skal have en understregning, men kun ved hover*/
            border-bottom: 4px solid #fff;
        }

main{
    width:100%;

}
/*Samme grid For alle sektioner i main og for footeren*/
main section, footer{
    display:grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 2fr;
    grid-template-rows: 1fr 100px 1fr 100px 1fr;

}

/*home-sektionen*/
#hero{
    width: 100%;
/*sektionen skal fylde hele skærmhøjden*/
    height:100vh;
    background-color:aqua;
}
#hero img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    object-position:top;
    grid-column: 1/-1;
    grid-row: 1/-1;
    
}
#hero .payoff {
    grid-column: 4/-1;
    grid-row: 4/5;
    background-color:black;
/*højden på kassen afgøres af h2'erens linjehøjde*/
    line-height: 100px;
/*Skub teksten ind fra venstre*/
    padding: 0px 0px 0px 50px;

}

#events {
    width: 100%;
    /*sektionen skal fylde hele skærmhøjden*/
    height: 100vh;
    background-color: bisque;
}
#events img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
        grid-column: 1/6;
        grid-row: 1/-1;
    }
#events .payoff{
        grid-column: 1/3;
        grid-row: 2/3;
        background-color:black;
        line-height: 100px;
        padding: 0px 0px 0px 250px;
    }
#events aside{
/*asiden skal være i 6. kollone og ud*/
        grid-column: 6/-1;
/*asiden skal fylde hele højden*/
        grid-row: 1/-1;
        background-color:#fff00;
/*asiden skal have luft i toppen og til begge sider*/
        padding:150px 50px 0px 50px;
/*skriften skal være  uden fødder*/
        font-family: 'Raleway', sans-serif;
    }
#events aside h1{
        /*butikkens overskrift skal være federe*/
        font-weight: 900;
        text-transform: uppercase;
        font-size: 3em;
/*overskriftens linjehøjde forøges*/
        margin-bottom: 30px;
    }
#events aside h2 {
            /*butikkens overskrift skal være federe*/
            font-weight: 900;
            text-transform: uppercase;
            font-size: 2em;
/*overskriftens linjehøjde forøges*/
            margin-bottom: 10px;
        }
#events aside h3{
            font-size:1.5em;
            margin-bottom:30px;
        }
#events aside h4{
            font-weight: 900;
            text-transform:uppercase;
            font-size: 1.5em;
            margin-bottom:5px;
        }
#events aside p{
            font-size: 1em;
            margin-bottom: 20px;
        }

#shop {
    width: 100%;
    /*sektionen skal fylde hele skærmhøjden*/
    height: 100vh;
    background-color: gold;
}
#shop .payoff{
    grid-column:6/-1;
    grid-row:2/3;
    background-color:#000000;
/*sæt størrelsen på kassen*/
    line-height:100px;
/*skub teksten ind fra venstre*/
    padding:0px 0px 0px 150px;
}
#shop aside{
    grid-column:1/2;
    grid-row:1/-1;
    background-color:#FFFF00;
    padding:150px 50px 0px 50px;
    font-family:'Raleway',sans-serif;
}
#shop aside h1{
    font-weight:900;
    text-transform: uppercase;
    font-size: 3em;
    margin-bottom:30px;
}
#shop aside h2 {
        font-weight: 900;
        text-transform: uppercase;
        font-size: 2em;
        margin-bottom: 10px;
    }
#shop aside ul{
        margin: 50px 0px 0px 0px;

    }
#shop aside ul li{
        font-size:1.5em;
        padding: 0px 0px 3px 0px;
    }
#shop aside ul li a{
        text-decoration: none;
        color: #000;
        }
#shop aside ul li a:hover {
            padding:0px 0px 0px 5px;
            color: #ffff00;
        }
#shop #products{
    grid-column:2/-1;
    grid-row:3/-1;
    background-color:#fff;
    display:flex;
    flex-flow:wrap;
}
#shop #products figure {
        width: 25%;
        /*højden må gerne overskride 100px*/
        min-height: 100px;
        /*vareboksen skal have en sort kant*/
        border: 1px solid #000;
/*plads rundt om alle varebokse*/
        margin:20px;
        padding:30px;
        box-sizing:border-box;
    }
#shop #products figure:hover{
/*når vareboksen røres ændres kanten*/
        border: 3px solid #FFFF00;
    }
#shop #products figure img{
        width:80%;
/*billedet skal stå i midten af boksen*/
        margin: 0 auto;
        display: block;
    }
#shop #products figure figcaption{
        font-family:'Raleway',sans-serif;
/*Skriften skal være "normal"*/
        font-size:1em;
/*Skriften skal stå midtfor billedet*/
        text-align:center;
    }

#contact {
    width: 100%;
    /*sektionen skal fylde hele skærmhøjden*/
    height: 100vh;
    float:left;
}
#contact img{
    grid-column:1/4;
    grid-row:1/4;
    height:100%;
    width:100%;
    object-fit:cover;
    object-position:top;
}
#contact .payoff{
    grid-column:1/3;
    grid-row:2/3;
    line-height:100px;
/*skub tekst ind fra højre*/
    padding:0px 50px 0px 0px;
    text-align:right;
    background-color:#FFFF00;
}
#contact #info{
    grid-column:1/4;
    grid-row:4/-1;
    padding:100px;
    box-sizing:border-box;
    background-color:#000;
}
#contact #info address{

    font-family:'Raleway',sans-serif;
    font-size:1.5em;
    margin:0px 0px 10px 0px;
    text-align:center;
    color:#fff;
}
#contact #info address a:hover {
       color:#FFFF00;
    }
#contact form{
    grid-column:4/-1;
    grid-row:1/-1;
    padding:150px 200px 0px 200px;
    box-sizing:border-box;
    background-color:#FFF;

}
#contact form h1{
        font-family:'Raleway',sans-serif;
        font-weight:900;
        text-transform:uppercase;
        font-size:3em;
        margin:0px 0px 30px 0px;
    }
#contact form input[type=submit]{
        clear:both;
    }
#contact label{
        font-family:'Raleway',sans-serif;
        text-transform:uppercase;
        font-size:1.5em;
    }
#contact input[type=text], #contact input[type=date], #contact textarea{
        background-color: #FFFF00;
        border: 1px solid #000;
        width: 50%;
        height: 30px;
        display:block;
        padding: 0px 0px 0px 10px;
        box-sizing:border-box;
        margin: 5px 0px 15px 0px;
    }
#contact input[type=text]:focus, #contact textarea:focus{
        background-color:red;
        color:#FFF;
    }
#contact textarea{
        height: 90px;
    }
#contact input[type=submit], #contact input[type=reset]{
        background-color: #000;
        color:#FFF;
        width: 50%;
        height: 30px;
        border:none;
        margin: 0px 0px 10px 0px;
        font-family: 'Raleway', sans-serif;
        font-size: 1em;
        text-transform:uppercase;
    }
#contact input[type=submit]:hover, #contact input[type=reset]:hover{
        background-color:#FFFF00;
        color:#000;
    }
