@model MVCcitater.Models.Citater
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Velkommen til Logind side</h2>

<p>Indtast Brugernavn og password.....</p>
<h4 class="text-danger">@ViewBag.Besked</h4>
<form action="~/LogInd" method="post">
    @*brugerNavn*@
    <div class=" form-group m-5">
        <label  class="col-4" for="BrugeNavn">Bruger Navn:</label>
        <input  class="col-5 " type="text" name="BrugeNavn" id="BrugeNavn" value="" />
    </div>



    @*Password*@
    <div class="row">
        <label class="col-4" for="Password">PassWord:</label>
        <input  class="col-5 " type="password" name="Password" id="Password" value="" />

    </div>
    <button class="btn btn-info" type="submit">Log ind</button>

</form>