@model myIo.Models.ViewModelFile

@{
    ViewBag.Title = "Index";
}

<h2>Uplad File</h2>
<form action="/" method="post" enctype="multipart/form-data">

    <input type="file" name="MyFile" />
    <br />
    <input type="submit" name="BtnSubmit" value="Uplad fil" />
    <p>@Model.Msg</p>
</form>


@foreach (var File in Model.MyFileInfo)
{
     <p>@File.Name</p>
    <img src="~/Uploads/@File.Name" alt="" />
}

