@model PotteryWeb.Models.tbCategory
@{
    ViewBag.Title = "CSlet";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="container p-5 bg-light">
    <h2 class="text-center">Slet</h2>
    <a class="btn bg-info text-white float-right my-5" href="/Admin/POpret">Opret ny</a>


    <h3 class="lead alert-danger my-3 ">@ViewBag.Besked</h3>

    <table class="table border">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Navn</th>
          



            </tr>
        </thead>
        <tbody>


            <tr>
                <th scope="row">@Model.IdCategory</th>
                <td>@Model.Category</td>
              


            </tr>

        </tbody>
    </table>
    <form action="/Admin/CSlet" method="post" class="my-5 py-3">
        <input type="hidden" name="id" id="id" value="@Model.IdCategory" />
        <div class="float-right">

            <input type="submit" name="name" id="slet" value="SLET - kan ikke fortrydes" class="btn bg-danger text-white px-5 text-right" />
        </div>
        <div>
            <a class="btn bg-info text-white float-left" href="/Admin/CategoryRev">Fortryd og gå til forsiden</a>
        </div>
    </form>
</div>

