
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container bg-light p-5">
    <h2>Velkommen til adminstrations siden @Session["loginBruger"]</h2>
    <h3>Gennem denne side kan du tilgå databasen</h3>
    <p class="lead">Du kan slette produkter, rette i eksisterende og oprette nye. Du kan også oprette ny produktkategorier og rette navnet på eksisterende og slette kategorier(Hvis der ikke er nogle produkter der tilhøre kategorien)</p>
    <br />
    <a href="~/Admin/CategoryRev" class="btn-info p-2 border rounded">Administre kategorier</a>
    <a href="~/Admin/ProductRev" class="btn-info p-2 border rounded">Administre produckter</a>
</div>
