
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}


<!-- Jumbotron Header -->
<div class="jumbotron parallax">
    <h1 class="display-3">Welcome to Blink</h1>
    <p class="lead">Add welcome message to your visitors and description, some description and some more description......</p>
    <hr class="my-4">
    <p>You can change the background color of this section in style.css file.</p>
    <button type="button" class="btn btn-danger btn-lg btn-md">
        Read more...
    </button>
</div>
<!-- About Section -->
<section id="intro">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="/img/about.jpg" alt="" class="img-thumbnail img-fluid imgalign">
            </div>
            <div class="col-md-8">
                <br>
                <h2 class="mb-3">About Section for Describing Your Company</h2>
                <blockquote class="blockquote">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </blockquote>
            </div>
        </div>
    </div>
</section>
<!-- Team Section -->
<section class="aboutsec">
    <div class="container">
        <h1> Meet Our Team </h1>
        <div class="card-group">
            <div class="card">
                <img class="card-img-top" src="/img/guide1.jpg" alt="guide1">
                <div class="card-block">
                    <h4 class="card-title">Team Member</h4>
                    <p class="card-text">Short explanation of the team member 1 and what exactly he is doing in your company.</p>
                </div>
                <div class="card-footer" style="background:#cddc39;">
                    <i class="fa fa-facebook-square social"></i><i class="fa fa-twitter-square social"></i><i class="fa fa-google-plus-square social"></i><i class="fa fa-pinterest-square social"></i><i class="fa fa-youtube-square social"></i>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="/img/guide2.jpg" alt="guide2">
                <div class="card-block">
                    <h4 class="card-title">Team Member</h4>
                    <p class="card-text">Short explanation of the team member 2 and what exactly he is doing in your company.</p>
                </div>
                <div class="card-footer" style="background:#cddc39;">
                    <i class="fa fa-facebook-square social"></i><i class="fa fa-twitter-square social"></i><i class="fa fa-google-plus-square social"></i><i class="fa fa-pinterest-square social"></i><i class="fa fa-youtube-square social"></i>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="/img/guide3.jpg" alt="guide3">
                <div class="card-block">
                    <h4 class="card-title">Team Member</h4>
                    <p class="card-text">Short explanation of the team member3 and what exactly he is doing in your company.</p>
                </div>
                <div class="card-footer" style="background:#cddc39;">
                    <i class="fa fa-facebook-square social"></i><i class="fa fa-twitter-square social"></i><i class="fa fa-google-plus-square social"></i><i class="fa fa-pinterest-square social"></i><i class="fa fa-youtube-square social"></i>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Map Section -->
<section>
    <div class="container-fluid">
        <div id="map">
            <script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script>
            <div id='gmap_canvas' style='height:440px;width:100%;'></div>
            <div>
                <small></small>
            </div>
            <script type='text/javascript'>
                function init_map() {
                    var myOptions = {
                        zoom: 10,
                        center: new google.maps.LatLng(51.5073509, -0.12775829999998223),
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                    };
                    map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);
                    marker = new google.maps.Marker({
                        map: map,
                        position: new google.maps.LatLng(51.5073509, -0.12775829999998223)
                    });
                    infowindow = new google.maps.InfoWindow({
                        content: '<strong>Google Map</strong><br>London, United Kingdom<br>'
                    });
                    google.maps.event.addListener(marker, 'click', function () {
                        infowindow.open(map, marker);
                    });
                    infowindow.open(map, marker);
                }
                google.maps.event.addDomListener(window, 'load', init_map);
            </script>
        </div>
    </div>
</section>
<!-- Services Section -->
<section class="servicesec parallax" style="margin:0 0 40px 0;color:#fff;">
    <div class="container-fluid">
        <h1 style="text-align:center;"> Our Journey History  </h1>
        <br>
        <dl class="row">
            <dt class="col-sm-3"><strong>Company Started</strong></dt>
            <dd class="col-sm-9">Description of when exactly your company was started.</dd>

            <dt class="col-sm-3"><strong>Growth</strong></dt>
            <dd class="col-sm-9">Enter the growth story of your company over the period of years.</dd>
            <dd class="col-sm-9 offset-sm-3">Enter some more details here if you need.</dd>

            <dt class="col-sm-3"><strong>Investor</strong></dt>
            <dd class="col-sm-9">Enter the details of who is supporting your company.</dd>

            <dt class="col-sm-3 text-truncate"><strong>Objective</strong></dt>
            <dd class="col-sm-9">Enter the purpose of establishing your company in short or even long.</dd>

            <dd class="col-sm-9">
                <dl class="row">
                    <dt class="col-sm-4"><strong>Last Updated</strong></dt>
                    <dd class="col-sm-8">This details are last updated for ever.</dd>
                </dl>
            </dd>
        </dl>
    </div>
</section>
