
@{
    ViewBag.Title = "Service";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}


<!-- Jumbotron Header Section -->
<div class="jumbotron parallax">
    <h1 class="display-3">Welcome to Blink</h1>
    <p class="lead">Add welcome message to your visitors and description, some description and some more description......</p>
    <hr class="my-4">
    <p>You can change the background color of this section in style.css file.</p>
    <button type="button" class="btn btn-info btn-lg btn-md">
        Read more...
    </button>
</div>
<!-- Services Section -->
<section id="services">
    <div class="container-fluid parallax1" style="background-color:#CFD8DC;">
        <h1> What We Offer </h1>
        <div class="row">
            <div class="offset-md-1 col-md-5">
                <p><i class="fa fa-home fa-3x"> </i> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p><i class="fa fa-book fa-3x"> </i> Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                <p><i class="fa fa-pencil fa-3x"> </i> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p><i class="fa fa-cog fa-3x"> </i> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div class="col-md-6">
                <p><i class="fa fa-envelope fa-3x"> </i> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p><i class="fa fa-globe fa-3x"> </i> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p><i class="fa fa-share-alt fa-3x"> </i> Lorem ipsum dolor sit amet,consectetur adipiscing elit</p>
                <p><i class="fa fa-slideshare fa-3x"> </i> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
    </div>
</section>
<!-- Featured Section -->
<section id="specialoffer">
    <h1> Avail Our Speical Services for Discounted Rate </h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <div class="card card-inverse card-primary">
                    <div class="card-block">
                        <h3 class="card-title">Special Service 1</h3>
                        <p class="card-text">This is our special service 1 for the final discounted rate of $10.</p>
                        <a href="#" class="btn btn-danger btn-md">
                            $10
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card card-inverse card-danger">
                    <div class="card-block">
                        <h3 class="card-title">Special Service 2</h3>
                        <p class="card-text">This is our special service 2 for the final discounted rate of $20.</p>
                        <a href="#" class="btn btn-info btn-md">$20</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="card card-inverse card-warning">
                    <div class="card-block">
                        <h3 class="card-title">Special Service 3</h3>
                        <p class="card-text">This is our special service 3 for the final discounted rate of $30.</p>
                        <a href="#" class="btn btn-danger btn-md">$30</a>
                    </div>
                </div>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-sm-4">
                <div class="card card-inverse card-success">
                    <div class="card-block">
                        <h3 class="card-title">Special Service 4</h3>
                        <p class="card-text">This is our special service 4 for the final discounted rate of $40.</p>
                        <a href="#" class="btn btn-info btn-md">$40</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-block">
                        <h3 class="card-title">Special Service 5</h3>
                        <p class="card-text">This is our special service 5 for the final discounted rate of $50.</p>
                        <a href="#" class="btn btn-warning btn-md">$50</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="card card-inverse card-info">
                    <div class="card-block">
                        <h3 class="card-title">Special Service 6</h3>
                        <p class="card-text">This is our special service 6 for the final discounted rate of $60.</p>
                        <a href="#" class="btn btn-success btn-md">$60</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

