@{
    ViewBag.Title = "Hyponet";
}

<div class="container">



    @*<div class="container">
            <form action="" target="_self" method="post" oninput="output.value = input.value">
                <fieldset>
                    <legend>Inputfeltet:</legend>
                    <label for="inputfelt">Input</label>
                    <textarea type="text" name="input" id="inputfelt" value="" autocomplete="on" formenctype="application/x-www-form-urlencoded" formnovalidate="formnovalidate" rows="3" cols="50" placeholder="Skriv noget her..."></textarea>
                </fieldset>
                <fieldset>
                    <legend>Outputfelt:</legend>
                    <label for="outputfelt">Output</label>
                    <output name="output" for="input" id="outputfelt" spellcheck="true"></output>
                </fieldset>
                <input type="submit" value="Send RODNODE">
            </form>
        </div>*@



</div>


<script>

    $(document).ready(function () { //Vent til siden er indlæst

        var apiurl = "/api/NoderAPI"; //Gem adressen til API'en

        GenafspilAPIkald(); //Print til skærmen

        function GenafspilAPIkald() { //GET fra API'en i form af JSON fra apiurl og kør udskrivdata


            $.ajax({
                type: "GET",
                dataType: "json",
                url: apiurl,
                success: function (detdufandt) {
                    console.log("Nu henter vi fra API-adressen: " + apiurl); //API-adressen
                    console.log("Det der gemmer sig på API-adressen, set i JSON: " + detdufandt); //Se hvad der gemmer sig i den API
                    SendAPIdata(detdufandt); //Gør noget med den data
                },
                error: function () { alert("Måske virker: " + detdufandt + " ikke") }
            })
        }

        function SendAPIdata(nogetfraAPIopkaldet) {

            console.log("Der sendes API-data: " + nogetfraAPIopkaldet);


            for (var x in nogetfraAPIopkaldet) {

                $("#historik").append("<p>" + nogetfraAPIopkaldet[x].Citat_Tekst + " </p>") //spyt indholdet i databasen ud i historikken

            };

        };


        //Skriv i inputfelt
        $("input").keyup(Soeg);


        function Soeg() {

            $("#historik").html("<h2 style='color:green;' >Søgeresultater</h2>");

            var soegeord = $("input").val();
            var soegeurl = apiurl + "?soegeord=" + soegeord;


            if (soegeord.length > 0) {

                $.ajax({
                    type: "GET",
                    dataType: "json",
                    url: soegeurl,
                    success: function (detsomderblevsoegt) {
                        console.log(soegeurl);
                        FundneData(detsomderblevsoegt);
                    }
                })


                function FundneData(detderblevfundet) {

                    for (var x in detderblevfundet) {

                        $("#historik").append("<h2>" + detderblevfundet[x].Citat_Overskrift + " </h2>").append("<p>" + detderblevfundet[x].Citat_Tekst + " </p>")



                    };

                    if (detderblevfundet.count == 0) {
                        $("#historik").append("<div>Ingen resultater</div>");
                    }

                };

            };




        };

    });
</script>



<label for="soegefelt">Input til Hyponet</label>
<input type="text" name="soegefelt" id="soegefelt" placeholder="skriv input her..." value="" />


 <div id="historik"></div>




