@{
    ViewBag.Title = "Siden der tester API";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script>
    $(document).ready(function () {

        var wsurl = "/api/API1/";

        //HENT fra API
        KaldWebservice();

        function KaldWebservice() {


            $.ajax({
                type: "GET",
                dataType: "json",
                url: wsurl,
                success: function (data) {
                    console.log(wsurl); //API-adressen
                    console.log(data); //Se hvad der gemmer sig i den API
                    udskrivData(data); //Gør noget med den data
                },
                error: function () { alert("nå da da") }
            })
        }

        function udskrivData(data) {

            $("#resultat").html("");

            for (var x in data) {
                $("#resultat").prepend("<div class='note' data-id='" + data[x].id + "' class='card'><h2>" + data[x].Note + "</h2><p data-id='" + data[x].id + "' class='derhvordetskalskrives'>" + data[x].Note + "</p>" + "<div data-id='" + data[x].id + "' class='sletdiv'></div></div>");
                $(".derhvordetskalskrives").attr("contenteditable", "true")
                $(".derhvordetskalskrives").keydown(function (Ulrik) {
                    if (Ulrik.keyCode === 13) {
                        Ulrik.preventDefault();
                        KaldWebserviceRet($(this))
                        console.log($(this).html())
                    }
                });
                $(".sletdiv").html("&#x26F3");
                $(".sletdiv").on("click", function () {
                    console.log("Du slettede " + $(".derhvordetskalskrives").html())
                    KaldWebserviceSlet($(this).attr('data-id'));

                });

            }           



        };

        //OPRET i API
        $("#inputfelt").on('keydown', function (Erik) {

            if (Erik.keyCode == 13) {

                KaldWebserviceOpret($(this));
            }

        });
        function KaldWebserviceOpret(flemming) {

            $.ajax({
                type: "POST",
                dataType: "json",
                url: wsurl,
                contentType: 'application/x-www-form-urlencoded; charset=utc-8',
                data: 'Note=' + flemming.val(),
                success: function () {
                    KaldWebservice();
                },
                error: function () { alert("nå da da opret virker ik") }

            })

        }

        //SLET i API
        function KaldWebserviceSlet(id) {

            $.ajax({
                type: "DELETE",
                dataType: "json",
                url: wsurl + "/" + id,
                headers: {
                    'Accept': 'application/json',
                    'Content-type': 'application/x-www-form-urlencoded; charset=utc-8'
                },
                success: function () {
                    KaldWebservice();
                },
                error: function () {
                    alert("nå da da opret virker ik")
                }

            })

        };
        //RET i API

        

        function KaldWebserviceRet(Jimmy) {
            console.log("vi har fat i " + Jimmy);
            
            $.ajax({
                type: "PUT",
                dataType: "json",
                url: wsurl,
                contentType: 'application/x-www-form-urlencoded; charset=utc-8',
                data: 'Note=' + Jimmy.html() + "&id=" + Jimmy.attr("data-id"),
                success: function () {
                    KaldWebservice();
                },
                error: function () { alert("nå da da det der med at rette virker ik") }

            })

        };




    });

</script>


<div class="jumbotron">
    <h1 id="overskrift">Test på API</h1>
    <input type="text" name="nynote" id="inputfelt" placeholder="Skriv her..." value="" />
    <p class="lead">GET og POST til Model via API</p>
</div>

<div id="resultat">


    @*<div>
            <h2>Bidende stenurt</h2>
            <p> tekst</p>
        </div>*@


</div>

<script>
    document.getElementById("overskrift").innerHTML = "Denne overskrift er skrevet med Javascript"

</script>