@model List<MVCcitater.Models.Citater>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@foreach (var item in Model)
{
<h3>
    <a href="/Home/VisCitat/@item.CitatID">@item.CitatID-@item.CitatOverskrift</a>
</h3>
@*<p>@item.CitatOverskrift</p>*@




}

