@model MVCcitater.Models.Citater
@{
    ViewBag.Title = "VisCitat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>VisCitat</h2>
<h1>@Model.CitatOverskrift</h1>


<p>@Model.CitatTekst</p>
<p><a href="/Home/">Tilbage til Forsiden</a></p>
