<!DOCTYPE html>

@{ 
    string nyCss;
    string knap;
    if(Session["startCss"] != null)
    {
        nyCss = "sjov.css";
        //knap = "almenelig";
    }
    else
    {
        nyCss = "main.css";

        //knap = "stop";
    }
}
<html lang="da">
<head>
    <link href="~/Content/css/@nyCss" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

</head>
<body>
    <header>
        <nav>
            <ul class="nav">
                <li class="nav-li"><a href="/Home/index">index</a></li>
                <li class="nav-li"><a href="/Home/YourName">form</a></li>
                <li class="nav-li"><a href="/Home/Newsletter">Newsletter</a></li>
                <li class="nav-li"><a href="/Home/ContactForm">Contact form</a></li>
                <li class="nav-li"><a href="/Home/LoginPage">login</a></li>
            </ul>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
    <form action="/Home/StartCss" method="post">
        <input type="submit" name="btnStart" value="@ViewBag.knap" />
    </form>
</body>
</html>
