<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <script src="~/Scripts/jquery-3.3.1.js"></script>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <a href="/Home/Byvejr">~/Views/Home/Byvejr.cshtml</a>
    <a href="/Home/FilmAPI">~/Views/Home/FilmAPI.cshtml</a>
    <a href="/Home/Folketinget">~/Views/Home/Folketinget.cshtml</a>
    <a href="/Home/Index">~/Views/Home/Index.cshtml</a>
    <a href="/Home/PostnummerOpslag">~/Views/Home/PostnummerOpslag.cshtml</a>
    <a href="/Home/Starwars">~/Views/Home/Starwars.cshtml</a>
    <div class="container body-content">
        @RenderBody()
    </div>

</body>
</html>
