<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/png" href="/img/favicon.png" />
    <meta name="description" content="Blink is a simple Bootstrap 4 theme for travel agencies to showcase the places and get order from customers.">
    <title>Testside</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">

</head>

<body id="myPage">

    <!-- Google Analytics -->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-32623223-1', 'auto');
        ga('send', 'pageview');

    </script>



    <!-- Navigation -->
    <nav class="navbar navbar-toggleable-md navbar-inverse sticky-top" style="background:#ff5722;">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/Home/Index"><h1><span class="fa fa-eye" style="color:#fff;"></span> Blink</h1></a>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active ">
                    <a class="nav-link" href="/Home/Index">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/Home/About">About </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/Home/Service">Service</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/Home/Contact">Contact</a>
                </li>
            </ul>
        </div>
    </nav>

    @RenderBody()



    <!-- Footer -->
    <footer class="container-fluid text-center">
        <a href="#myPage" title="To Top">
            <span class="fa fa-3x fa-plane"></span>
        </a>
    </footer>
    <!-- footer start-->
    <footer class="mainfooter" role="contentinfo">
        <div class="footer-top p-y-2">
            <div class="footer-middle">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <!--Column1-->
                            <div class="footer-pad">
                                <h4>Address</h4>
                                <address>
                                    <strong>Your Company Name</strong><br>
                                    1234, Street Name<br>
                                    Another Address Line<br>
                                    San Francisco, CA 94105<br>
                                    Phone: (123) 456-7890
                                </address>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <!--Column1-->
                            <div class="footer-pad">
                                <h4>Popular Services</h4>
                                <ul class="list-unstyled">
                                    <li>
                                        <a href="#"></a>
                                    </li>
                                    <li>
                                        <a href="#">Services 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Services 2</a>
                                    </li>
                                    <li>
                                        <a href="#">Services 3</a>
                                    </li>
                                    <li>
                                        <a href="#">Services 4</a>
                                    </li>
                                    <li>
                                        <a href="#">Services 5</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <!--Column1-->
                            <div class="footer-pad">
                                <h4>Popular Products</h4>
                                <ul class="list-unstyled">
                                    <li>
                                        <a href="#">Product 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Product 2</a>
                                    </li>
                                    <li>
                                        <a href="#">Product 3</a>
                                    </li>
                                    <li>
                                        <a href="#">Product 4</a>
                                    </li>
                                    <li>
                                        <a href="#">Product 5</a>
                                    </li>
                                    <li>

                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <!--Column1-->
                            <div class="footer-pad">
                                <h4>Menu</h4>
                                <ul class="list-unstyled">
                                    <li>
                                        <a href="/Home/Index">Home</a>
                                    </li>
                                    <li>
                                        <a href="/Home/About">About</a>
                                    </li>
                                    <li>
                                        <a href="/Home/Service">Service</a>
                                    </li>
                                    <li>
                                        <a href="/Home/Contact">Contact</a>
                                    </li>
                                    <li>
                                        <a href="#myPage">Back to Top</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-6">
                            <!--Footer Bottom-->
                            <p class="text-xs-center">&copy; Copyright 2017. All rights reserved by <a href="https://www.webnots.com/">WebNots</a>.</p>
                        </div>
                        <div class="offset-md-5 col-xs-1">
                            <a href="#" class="btn btn-spl">
                                <i class="fa fa-facebook fa-2x"></i>
                            </a>
                            <a href="#" class="btn btn-spl">
                                <i class="fa fa-twitter fa-2x"></i>
                            </a>
                            <a href="#" class="btn btn-spl">
                                <i class="fa fa-google-plus fa-2x"></i>
                            </a>
                            <a href="#" class="btn btn-spl">
                                <i class="fa fa-youtube fa-2x"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Scripts -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/tether.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/smooth-scroll.js"></script>
    <script src="/js/script.js"></script>

</body>
</html>
