<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="/Content/bootstrap.css" rel="stylesheet" />
    <link href="/Content/Site.css" rel="stylesheet" />
    <script src="/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    <nav>
        Her er navigationen
        <a href="/Home/Index">Tilbage til forsiden</a>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <footer>
            Her er footeren
        </footer>
    </div>

    <script src="/Scripts/jquery-3.4.1.js"></script>
    @*<script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>*@
    <script src="/Scripts/popper.js"></script>
    <script src="/Scripts/bootstrap.js"></script>

</body>
</html>
