@model PotteryWeb.Models.tbProduct
@{
    ViewBag.Title = "TheItem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container bg-light p-5 my-5">
    <div class="border-bottom mb-5 p-4 row">
        <div class="col-6">
            <img src="~/Content/img/@Model.ProductImg" class="" />
        </div>
        <div class="col-6 ">
            <h3 class="mb-3">
                @Model.ProductName
            </h3>
            <h4 class="h6">@Model.tbCategory.Category</h4>
            <p class="lead">
                @Model.AboutProduct
            </p>


        </div>
        <p class="w-100 font-weight-bold text-right">pris @Model.Price</p>
    </div>
    
    <form action="/Home/Index" method="post">
        <input type="submit" name="name" value="Tilbage tíl forsiden" class="p-2" />
    </form>
</div>

