
.btn-md {
    border-width: 0;
    outline: none;
    border-radius: 0 !important;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    cursor: pointer;
}

.footer-pad {
    color: #5cb85c;
}

ul li a {
    color: #fff;
}

.list-unstyled {
    color: #fff;
}

.btn-md:hover {
    background-color: black;
}

.d-block {
    width: 100%;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
    display: block !important;
}

.footer {
    color: white;
}

    .footer a {
        color: #bfffff;
    }

        .footer a:hover {
            color: white;
        }

.footer-bottom {
    background: #292b2c;
    padding: 2em;
    color: #fff;
}

.footer-top {
    background: #292b2c;
}

.footer-middle {
    background: #292b2c;
    padding-top: 2em;
    color: white;
}

a.nav-link {
    font-size: 20px;
    margin: 0 20px;
}

@media screen and (min-width: 980px) {
    #carousel h1 {
        font-size: 60px;
        padding-bottom: 30px;
    }

    #carousel p {
        font-size: 30px;
    }

    #carousel button {
        margin: 30px;
    }
}

@media screen and (max-width: 780px) {
    .card {
        margin-bottom: 20px;
    }

    .footer-pad {
        margin-left: 40px;
    }
}

.card {
    box-shadow: 0 0 3px 3px #FF9800;
}

.jumbotron {
    border-radius: 0;
    background-color: #333;
    text-align: center;
    color: #fff;
    margin-bottom: 0;
}

.parallax {
    background-image: url('../img/parallax.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 50px;
}

.parallax1 {
    background-color: #fafafa;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 50px;
}

#gallery_image h1,
#services h1,
.aboutsec h1,
.servicesec h1,
#specialoffer h1 {
    text-align: center;
    padding: 50px;
}

#gallery_image {
    padding: 20px 0 70px 0;
    text-align: center;
    background: #f1f1f1;
}

    #gallery_image img:hover {
        opacity: 0.5;
        cursor: crosshair;
    }

#submitform,
#contactsec {
    padding: 60px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    height: 40px;
    width: 40px;
}

.card-inverse {
    border-radius: 0;
}

.btn-spl {
    width: 40px;
    height: 40px;
    overflow: hidden;
    position: relative;
    border-radius: 3px;
    padding: 6px;
    margin: 10px 1px;
    font-size: 12px;
    background: #fff;
}

    .btn-spl:hover {
        background: #333;
    }

.input-group-addon {
    background: #607D8B;
}

.card-footer {
    background-color: #FF5722;
    color: #fff;
}

hr {
    border-top: 1px solid #9E9E9E;
}

.pull-right {
    position: absolute;
    margin-top: -50px;
    float: right;
    font-size: 20px;
    border-radius: 0;
}

#specialoffer {
    margin: 60px 10px;
}

#services {
    margin-bottom: 40px;
}

#intro {
    margin: 60px;
}

.imgalign {
    border-radius: 50%;
    padding: 30px;
    margin-top: 20px;
}

    .imgalign:hover {
        opacity: 0.6;
    }

.social {
    font-size: 30px;
    margin: 0 15px;
    display: inline-block;
    color: #D4E157;
}

    .social:hover {
        color: green;
    }

#map {
    margin: 80px -15px 0 -15px;
    overflow: hidden !important;
}

.contactsocial {
    display: inline-grid;
    text-align: center;
    border: solid 1px lightgrey;
    padding: 20px;
    background: #E91E63;
    border-radius: 10px;
}

.fa {
    color: #607d8b;
}

.fa-plane {
    transform: rotate(315deg);
    -webkit-transform: rotate(315deg);
}

.fa-4x {
    color: #ccc;
}

    .fa-4x:hover {
        color: aqua;
    }
