@model List<CartoonSite.Models.CartoonTable>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout1.cshtml";

    if (TempData["Besked"] != null)
    {
        ViewBag.Besked = TempData["Besked"];
    }
}

<h2>Velkommen i Admin side</h2>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Cartoon ID</th>
            <th scope="col">Cartoon Navn</th>
            <th scope="col">Ret</th>
            <th scope="col">slet</th>
        </tr>
    </thead>
    <tbody>
        <tr>

            <td colspan="2"><a href="/Admin/OpretNyCartoon" class="btn btn-primary">Opret Ny</a></td>
            <td colspan="2"><Span class="text-danger">besked til admin:@ViewBag.Besked</Span></td>

        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.CartoonID</th>
                <td>@item.CartoonName</td>


                <td>
                    <a href="/Admin/RetCartoon/@item.CartoonID"> <img src="~/Content/Img/ret.png" alt="Alternate Text" /></a>
                </td>


                <td>
                    <a href="/Admin/SletCartoon/@item.CartoonID"> <img src="~/Content/Img/slet.png" alt="Alternate Text" /></a>
                </td>
            </tr>
        }


    </tbody>
</table>
