
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>slider</title>
    <link href="~/Content/common.css" rel="stylesheet" />
    <link href="~/Content/css/slider.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>

        $(document).ready(function () {
            //variabler  jhjh
            var container = $('#slidecon');
            var imgTal = $("#slidecon div").length; //hvor mange dias er der (4)
            //alert(imgTal) 
            var slide = $('.slide')
            var imgWidth = slide.width(); //Hvor bred er den div hvor img ligger i (ligger i slider.css = 700px)
            //alert(imgWidth)


            //var til dots
            var dotsCon = $('#circles');

            //settings til styrring af ani
            var ani = 1000;
            var pause = 2000;
            var nr = 0;
            var timer;

            //gør rammen lige så bred som alle billederne
            container.width(imgTal * imgWidth); // 4 div'er * 700px
            //alert(container.width())

            //dots tilføjes
            slide.each(function () {

                //en prik
                var dot = $('<div></div>');


                dot.click(function () {

                    clearTimeout(timer); //nulstil timer
                    nr = $(this).index(); //sæt nr til at være det samme som den cirkel der er trykket på
                    startSlider(); //begynd startslider-funktionen

                });

                //læg en ny prik bag på de andre
                dotsCon.append(dot);

                //gem alternativ-teksten fra det img-tag som ligger i det pågældende .slide-div
                var imgtext = $('img', this).attr('alt');
                //Tilføj .slide-div'en en h4 bestående af alternativteksten
                $(this).append('<h4>' + imgtext + '</h4>')

            });

            //Begynd slideren når siden loades
            startSlider();


            function startSlider() {

                //hilite dot
                dotsCon.find('div').removeClass("hilite"); //fjern classen fra #circles div
                dotsCon.find('div').eq(nr).addClass("hilite"); //tilføj classen til den div som er equal til den dot som blev clicked

                var animateNr = nr * -imgWidth //Hvor langt skal animationen skubbes: 
                //alert(animateNr)

                container.stop(true).animate({ 'left': animateNr }, ani);

                nr++; //læg et tal til dias-index'et for hvert slide

                if (nr >= imgTal) {
                    nr = 0;

                }
                timer = setTimeout(startSlider, pause);
            }










        });

    </script>
</head>
<body>
    <div id="wrapper">

        <div id="slider">

            <div id="slidecon">

                <div class="slide">
                    <img src="~/img/Big/Bohr.jpg" alt="Niels Bohr" />

                </div>
                <div class="slide">
                    <img src="~/img/Big/Curie.jpg" alt="Marie Curie" />

                </div>
                <div class="slide">
                    <img src="~/img/Big/Edison.jpg" alt="Thomas Edison" />

                </div>
                <div class="slide">
                    <img src="~/img/Big/Einstein.jpg" alt="Albert Einstein" />
                </div>

               

            </div>
            <div id="circles"></div>
        </div>
    </div>
</body>
</html>
