
@{
    ViewBag.Title = "Vendespil";
    Layout = "~/Views/Shared/_Layout.cshtml";

    //System.IO.DirectoryInfo Vendespilmappe = new DirectoryInfo(Server.MapPath("/" + "img/Vendespil"));
    //int antalkortimappe = Vendespilmappe.GetFiles().Length;
    //int billedenummer = 1;

    //foreach (var item in Vendespilmappe.GetFiles())
    //{
    //    System.IO.File.Move(item.Name, "i" + billedenummer + ".jpg");
    //    billedenummer++;
    //}
}


<div id="left">
    <h1>Vendespil</h1>
    <p id="status">Du har fundet <b>0</b> billed-par</p>
    <h2 id="tid">Sekunder: <span>0</span></h2>
    <select id="level">
        <option>Let (6 kort)</option>
        <option selected>Mellem (12 kort)</option>
        <option>Svær (18 kort)</option>
    </select>
</div>
<div id="right">
    <div id="vendespil">
        <div class="kort">
        </div>
    </div>
</div>
<div class="clear"></div>

<script>

    $(document).ready(function () {
        var antalforskelligekort = 22;  //Antallet af kort. Alternativt kunne man tælle indholdet med C# System.IO.Directory
        var ventetid = 2000; //Tiden i millisekunder

        var t; //Spillets varighed. Det styres af TimeOut
        var antalkort; //Kort på spillepladen. Styres af sværhedsgrad
        var kort; //Liste med de kort der er udvalgt til dette spil
        var antalkortvendt; //må ikke overstige 2 kort vendt
        var foerstekortvendt; //Sammenlignes med næste kort
        var parfundet; //antal af matches
        var sekunder; //timer for omgangen

        var kortpulje = []; //et array til at lægge kortene i
        console.log(kortpulje);
        for (var i = 1; i <= antalforskelligekort; i++) { //hvert trin er 1 og vi starter ved 1 og tæller så længe der er mindre eller lig med 22 kort
            kortpulje.push("i" + i + ".jpg") //https://www.w3schools.com/jsref/tryit.asp?filename=tryjsref_push lægger billeder med navnene i1.jpg til i22.jpg ind i array'et
        }

        function GenstartSpil() { //Funktionen: nulstilling af spillet

            level = $("#level").prop('selectedIndex') //gemmer sværhedsgraden fra select-tagget
            if (level == 1) {
                antalkort = 6; //mellemsværhedsgrad. LAV EN IF med selectedindex
                alert("Du har valgt level " + level)
            }
            else if (level == 2) {
                antalkort = 12;
                alert("Du har valgt den mellemsvære " + level)

            }
            else if (level == 3) {
                antalkort = 18;
                alert("du har valgt den svære udgave! level " + level)
            }
            else {
                antalkort = 12;
                alert("jeg har valgt mellemsværhedsgrad for dig");
            }
            kort = [];
            antalkortvendt = 0;
            foerstekortvendt = "";
            parfundet = 0;
            sekunder = 0;

            $("#status b").text(parfundet + " ud af " + (antalkort / 2)); //skriver til et tekstfelt baseret på antalkort og parfundet

            StartSpil(); //Kører startfunktionen

        };

        GenstartSpil(); //Kør funktionen ovenfor

        function StartSpil() {
            console.log("nu kører Startspil-funktionen");

            udvaelgKort(); //kør funktionen Udvælg-kort
            lavKortHtml(); //kør funktionen til at lægge billeder på kortene

            $(document).on("click", ".bagside", function () { //Når der klikkes på en html-klasse bagside
                console.log("der er trykket på en bagside");
                kortKlikket(this); //kør funktionen på denne html-klasse
            });

            t = setInterval(function () { //ændrer spillets varighed med funktionen, for hvert 1000 millisekunder (næste argument)
                console.log("timeren er gået igang");
                ++sekunder //lægger 1 til sekunder-variablen
                $("#tid span").text(sekunder); //udskriver variablen sekunder i html-span-element

            }, 1000); //Gentag intervallet for hvert 1000 ms.

        };

        function udvaelgKort() {

            for (var i = 0; i < antalkort / 2; i++) { //kør så længe der er flere kortpar

                var tilfaeldigtkort = Math.floor(Math.random() * kortpulje.length) //tager kortpuljen (22) og ganger med et tilfældigt tal mellem 0 og 1 (fx 0,1415) = 3,113. Runder dette tal ned til nærmeste heltal = 3
                var blandedekort = kortpulje[tilfaeldigtkort]; //fylder array'et med det tilfældige kort så man har en stak blandede kort
                console.log("de blandede kort er nu" + blandedekort);

                kort.push(blandedekort, blandedekort); //laver to af hvert kort og lægger i kort-arrayet så man har par
                kortpulje.splice(tilfaeldigtkort, 1) //splice fjerner det tilfældigt valgte kort fra kortpulje-arrayet. 1 betyder, at kortet skal fjernes

            }

        };

        function lavKortHtml() {

            $("#vendespil").html(""); //erstatter det indhold der står i html-div'en
            $(kort).each(function (i) {

                var tilfaeldigtkort = Math.floor(Math.random() * kort.length) //tager de udvalgte kort (22) og ganger med et tilfældigt tal mellem 0 og 1 (fx 0,1415) = 3,113. Runder dette tal ned til nærmeste heltal = 3
                console.log("Der er udvalgt et fældigtkort, nummer " + tilfaeldigtkort);

                kortet = kort.splice(tilfaeldigtkort, 1); //vælger det kort og fjerner det fra stakken af udvalgte kort
                console.log("Der har trukket " + kortet); //Hvilket kort har jeg valgt

                var bagside = '<img src="/img/Vendespil/bagside.jpg" class="bagside" />';
                var forside = '<img src="/img/Vendespil/' + kortet + '" class="billedside" />'; //sender det valgte kort ind i img-src

                $("#vendespil").append('<div class="kort">' + bagside + forside + '</div > '); //lægger de to img-tags ind i div'en
            });

        };

        $(document).on("click", ".bagside", function () { //når der klikkes på ethvert img-class .bagside
            kortKlikket(this); //kør klikfunktionen på dette kort

        });

        t = setInterval(function () { //starter en tæller
            ++sekunder;
            $("#tid span").text(sekunder); //ændrer tallet i html-span

        }, 1000); //for hvert sekunder der er gået

        function kortKlikket(kortklikketpaa) {
            console.log("Det kort du har klikket på var " + kortklikketpaa);
            antalkortvendt++; //tæller hvor mange gang .bagside er blevet klikket
            console.log("Nu er der vendt " + antalkortvendt);

            if (antalkortvendt > 2) {

                return false; //afbryder hvis der er klikket mere end to kort

            }

            visKort(kortklikketpaa);

            if (antalkortvendt == 1) {

                foerstekortvendt = $(kortklikketpaa).siblings(); //finder det img-tag som ligger i samme scope (man klikker på bagsiden og vil have gemt forsiden)

            }
            else if (antalkortvendt == 2) {

                    if ($(kortklikketpaa).siblings().attr("src") == foerstekortvendt) { //hvis det andet kort der vendes har samme billedsti, altså har samme forside, så

                        $(kortklikketpaa).siblings().removeAttr("class"); //fjern .bagside så man kan se .forside
                        foerstekortvendt.removeAttr("class"); //fjern .bagside på det første kort man vendte så man kan se .forside
                        parfundet++ //tæl 1 mere til fundne par, da src er ens på antalkortvendt
                        $("#status b").text(parfundet + " ud af " + (antalkort / 2)); //opdatér html-div-span

                        if (parfundet == (antalkort / 2)) { //hvis parfundet svarer til alle kortene så har man vundet
                            clearInterval(t);
                            $("h1").html('Tillykke. Det tog <span class="info">' + sekunder + '</span > ')
                        } else {
                            antalkortvendt = 0; //Så længe at ikke alle par er fundne skal man lede efter flere par. Dette gælder for hvert træk
                        }

                    } 
                    else { //hvis kortklikketpaa ikke er ens med sibling
                        setTimeout(vendtilbage, ventetid); //kalder en funktion efter ventetid = 1200
                    }

            }
            else {
                alert("Du har ikke vendt et kort?!");
                alert(antalkortvendt);
            }

            function visKort(kortklikketpaa) {
                console.log("Nu blev " + kortklikketpaa + " vendt");

                $(kortklikketpaa).fadeOut("fast"); //fjerner bagsiden
                $(kortklikketpaa).siblings().fadeIn("fast"); // viser forsiden kan også laves med en anden animation.

            };

            function vendtilbage() {
                $(".billedside").fadeOut("fast");
                $(".bagside").fadeIn("fast");
                antalkortvendt = 0;
            };
        };
    });


</script>