<h3>SØG</h3>
<input type="text" name="soeg" id="soeg" value="" />


<p id="Starwarsresultat">Her kommer der til at stå noget om Starwars</p>


<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/StarWars.js"></script>

