@model List<JavaS.Models.tblPopup>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Popup</title>
    @* CSS til javascript- og jquery-øvelser  *@
    <link href="~/Content/common.css" rel="stylesheet" />
    @* CSS til denne øvelse *@
    <link href="~/Content/css/popup.css" rel="stylesheet" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>


        $(function () {
            var faktabox = $('.fakta');
            var popup = $('#popup');
            var bg = $('#bgpopup');

            //når der klikkes på .fakta 
            faktabox.click(function () {
                //fade in #popup og #bgpopup
                popup.fadeIn('slow');
                bg.fadeIn('slow');
                //erstat html-indholdet med indholdet fra .fakta
                popup.html($(this).html()).append('<img id="luk" src="/img/luk.gif" />');
                

            })

            //Ved klik på #popup eller #bgpopup fades disse væk igen
            $('#popup, #bgpopup').click(function () {
                popup.fadeOut('slow');
                bg.fadeOut('slow');
            })


        })
    </script>
</head>
<body>


    <div id="wrapper">

        @foreach (var item in Model)
        {
            <div class="fakta" id="fakta+@item.fldID">
                <h4>@item.fldOverskrift</h4>
                <img src="~/img/@item.fldImg" alt="Alternate Text" />
                <p>
                    @item.fldTeaser
                </p>
                <p class="faktatekst">
                    @item.fldText
                </p>

            </div>
        }




        <!-- popup-->
        <div id="popup"></div>
        <div id="bgpopup"></div>
    </div>

</body>
</html>
