<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT rTESjov ANY>
<!ATTLIST rTESjov id ID #REQUIRED>
<!ELEMENT hjem ANY>
<!ATTLIST hjem id ID #REQUIRED>
]>
<root id="-1">
  <hjem id="1069" key="1faae03f-9ea8-4113-9282-8fca4342ebed" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2019-04-08T12:20:06" updateDate="2019-04-08T13:06:38" nodeName="Forsiden" urlName="forsiden" path="-1,1069" isDoc="" nodeType="1062" creatorName="Villads Claes" writerName="Villads Claes" writerID="0" template="1061" nodeTypeAlias="hjem" isPublished="true">
    <titel><![CDATA[Hjemmesidens forside]]></titel>
    <beskrivelseAfSidenTilGoogle><![CDATA[på dette site leges med umbraco]]></beskrivelseAfSidenTilGoogle>
    <bodyText><![CDATA[<p><img style="width: 500px; height: 375px;" src="/media/1001/img_20161008_183321.jpg?width=500&amp;height=375" alt="" data-udi="umb://media/da7c1703fd944572ab047989319737d5" /></p>
<h1><strong>Mig og min bror</strong></h1>
<p>Vi kører rundt og gør ting</p>
<p style="text-align: right;"><em>Der var en gang</em></p>
<p style="text-align: right;"><em>en lille fugl</em></p>
<ul>
<li style="text-align: center;">Køb ost</li>
<li style="text-align: center;">husk mel</li>
<li style="text-align: center;">ikke glo</li>
</ul>]]></bodyText>
    <contentPicker><![CDATA[umb://document/291ac6be4261475fb85965cb15500f96]]></contentPicker>
    <rTESjov id="1076" key="291ac6be-4261-475f-b859-65cb15500f96" parentID="1069" level="2" creatorID="0" sortOrder="0" createDate="2019-04-08T13:06:25" updateDate="2019-04-08T13:12:03" nodeName="Brugerens eget lårt" urlName="brugerens-eget-laart" path="-1,1069,1076" isDoc="" nodeType="1068" creatorName="Villads Claes" writerName="Villads Claes" writerID="0" template="1067" nodeTypeAlias="rTESjov" isPublished="true">
      <bodyText><![CDATA[<h1>Det her er skrevet i en RTE</h1>]]></bodyText>
    </rTESjov>
  </hjem>
</root>